<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.task.mapper.TaskDistributionMapper">


    <resultMap id="TaskDistributionRecordResultMap" type="com.task.model.TaskDistributionRecordVO">
        <result column="USER_NO" property="userNo" jdbcType="VARCHAR"/>
        <result column="REAL_NAME" property="empName" jdbcType="VARCHAR"/>
        <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR"/>
        <result column="TASK_TYPE" property="taskType" jdbcType="VARCHAR"/>
        <result column="REMARKS" property="remarks" jdbcType="VARCHAR"/>
        <result column="BEGIN_DATE" property="beginDate" jdbcType="TIMESTAMP"/>
        <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP"/>
        <result column="TASK_STATUS" property="taskStatus" jdbcType="INTEGER"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="TaskCustomerResultMap" type="com.task.model.TaskCustomer">
        <result column="USER_NO" property="userNo" jdbcType="VARCHAR"/>
        <result column="identification_owner_name" property="userName" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="selectCondition" resultMap="TaskDistributionRecordResultMap"
            parameterType="com.task.model.TaskDistributionRecordVO">
        select td.id,
        td.user_no,
        ub.real_name,
        t.task_name,
        t.task_type,
        t.begin_date,
        t.end_date,
        td.task_status,
        t.remarks,
        td.create_date
        from t_task_distribution td
        inner join t_task t
        on t.id = td.task_id
        inner join t_user_basic ub
        on ub.login_name = td.emp_code
        <trim prefix="where" prefixOverrides="and">
            td.active_flag=1
            <if test="taskName!=null and taskName.length()>0">
                and t.TASK_NAME=#{taskName,jdbcType=VARCHAR}
            </if>
            <if test="taskType!=null and taskType.length()>0">
                and t.TASK_TYPE=#{taskType,jdbcType=VARCHAR}
            </if>
            <if test="empName!=null and empName.length()>0">
                and ub.REAL_NAME=#{empName,jdbcType=VARCHAR}
            </if>
            <if test="userNo!=null and userNo.length()>0">
                and td.USER_NO=#{userNo,jdbcType=VARCHAR}
            </if>
            <if test="taskStatus!=null">
                and td.TASK_STATUS=#{taskStatus,jdbcType=INTEGER}
            </if>

            <if test="beginDate!=null">
                and t.BEGIN_DATE=#{beginDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endDate!=null">
                and t.END_DATE=#{endDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>

    <select id="countTask" resultType="int" parameterType="com.task.model.TaskSearchConditionVO">
        select count(1) from t_task_distribution td
        <if test="loginName == null or loginName.length()==0">
            inner join t_user_basic ub on ub.login_name=td.emp_code
        </if>
        inner join t_task t on td.task_id=t.id
        left join app_user u on u.user_no=td.user_no
        <trim prefix="where" prefixOverrides="and|or">
            <if test="loginName != null and loginName.length()>0">
                and td.emp_code=#{loginName,jdbcType=VARCHAR}
            </if>
            <if test="taskStatus != null">
                and td.task_Status=#{taskStatus,jdbcType=VARCHAR}
            </if>
            <if test="companies!=null and companies.size()>0">
                <foreach collection="companies" open=" and ub.reserve1 in(" close=")" item="company" separator=",">
                    #{company}
                </foreach>
            </if>
            <if test="depts!=null and depts.size()>0">
                <foreach collection="depts" open=" and ub.reserve2 in(" close=")" item="dept" separator=",">
                    #{dept}
                </foreach>
            </if>
            <if test="groups!=null and groups.size()>0">
                <foreach collection="groups" open=" and ub.reserve3 in(" close=")" item="group" separator=",">
                    #{group}
                </foreach>
            </if>
        </trim>
    </select>

    <select id="selectUserByCondition" resultMap="TaskCustomerResultMap"
            parameterType="com.task.model.TaskSearchConditionVO">
        select td.user_no,u.identification_owner_name,td.update_date from t_task_distribution td
        <if test="loginName == null or loginName.length()==0">
            inner join t_user_basic ub on ub.login_name=td.emp_code
        </if>
        inner join t_task t on td.task_id=t.id
        left join app_user u on u.user_no=td.user_no
        <include refid="TaskCustomer_Where_Clause"/>
        <choose>
            <when test="sortOrder!=null and sortOrder!=''">
                order by td.update_date ${sortOrder}
            </when>
            <otherwise>
                order by td.update_date desc
            </otherwise>
        </choose>
    </select>

    <sql id="TaskCustomer_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="loginName != null and loginName.length()>0">
                and td.emp_code=#{loginName,jdbcType=VARCHAR}
            </if>

            <if test="taskName != null and taskName.length()>0">
                and t.task_Name=#{taskName,jdbcType=VARCHAR}
            </if>

            <if test="taskType != null and taskType.length()>0">
                and t.task_Type=#{taskType,jdbcType=VARCHAR}
            </if>

            <if test="taskStatus != null">
                and td.task_Status=#{taskStatus,jdbcType=VARCHAR}
            </if>

            <if test="beginTaskBeginDate != null">
                and t.begin_date &gt;=#{beginTaskBeginDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endTaskBeginDate != null">
                and t.begin_date &lt;=#{endTaskBeginDate,jdbcType=TIMESTAMP}
            </if>

            <if test="beginTaskEndDate != null">
                and t.end_date &gt;=#{beginTaskEndDate,jdbcType=TIMESTAMP}
            </if>
            <if test="endTaskEndDate != null">
                and t.end_date &lt;=#{endTaskEndDate,jdbcType=TIMESTAMP}
            </if>

            <if test="companies!=null and companies.size()>0">
                <foreach collection="companies" open=" and ub.reserve1 in(" close=")" item="company" separator=",">
                    #{company}
                </foreach>
            </if>
            <if test="depts!=null and depts.size()>0">
                <foreach collection="depts" open=" and ub.reserve2 in(" close=")" item="dept" separator=",">
                    #{dept}
                </foreach>
            </if>

            <if test="groups!=null and groups.size()>0">
                <foreach collection="groups" open=" and ub.reserve3 in(" close=")" item="group" separator=",">
                    #{group}
                </foreach>
            </if>
        </trim>
    </sql>
</mapper>