# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
bms-common/bms-common.iml
bms-common/target/
bms-web/bms-web.iml
bms-web/target/
bms.iml
application-prd.properties
#bms-common/src/main/resources/static/assets/global/plugins/data-grid/js/
#bms-web/src/main/resources/templates/
