<div class="container row">
    <div class="col-md-1 col-xs-2">
        <button id="potential_delete_btn" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>&nbsp;删除
        </button>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-body">
        <form class="form-horizontal" id="cmmg_task_distribution_form">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">任务名称&nbsp;:</label>
                        <div class="col-md-8">
                            <input type="text" name="taskName" class="form-control"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">任务类型&nbsp;:</label>
                        <div class="col-md-8">
                            <input type="text" name="taskType" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3" style="text-align: right;">
                        <label class="control-label">任务起止时间&nbsp;:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="input-group date form_datetime search-date">
                            <input class="form-control" name="beginDate" type="text">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">至</label>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="input-group date form_datetime search-date">
                            <input class="form-control" type="text" name="endDate">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">客户ID&nbsp;:</label>
                        <div class="col-md-8">
                            <input type="text" name="userNo" class="form-control"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">销售员&nbsp;:</label>
                        <div class="col-md-8">
                            <input type="text" name="empCode" class="form-control"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">任务状态&nbsp;:</label>
                        <div class="col-md-8">
                            <!--<input type="text" name="taskStatus" class="form-control">-->
                            <select id="task_status_selector" code="TASK_STATUS" name="taskStatus" style="font-size: .8em;" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="actions pull-left">
                        <a id="cmmg_task_distribution_searchBtn" class="btn btn-circle green btn-outline sbold btn-sm">
                            <i class="fa fa-search"></i> 搜索 </a>
                        <a onclick="CommonUtils.reset('cmmg_task_distribution_form')"
                           class="btn btn-circle green btn-outline sbold btn-sm">
                            <i class="fa fa-print"></i> 重置 </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet light portlet-fit">
    <div class="portlet-body">
        <table data-classes="table table-no-bordered"  data-form="cmmg_task_distribution_form"
               id="cmmg_task_distribution_table">
            <thead>
            <tr>
                <th data-id-field="id" data-checkbox="true">id</th>
                <th data-field="userNo">客户ID</th>
                <th data-field="empName">销售员</th>
                <th data-field="taskName">任务名称</th>
                <th data-field="taskType">任务类型</th>
                <th data-field="realName" data-formatter="taskDate">任务起止时间</th>
                <th data-field="createDate">任务分配时间</th>
                <th data-field="taskStatus" data-formatter="taskStatus">任务状态</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<script>

    function taskDate(val, record, index) {
        if (record) {
            if (record.beginDate && record.endDate) {
                var r = '';
                try {
                    var beginDate = new Date(Date.parse(record.beginDate.replace(/-/g, "/"))).format("yyyy年MM月dd日");
                    var endDate = new Date(Date.parse(record.endDate.replace(/-/g, "/"))).format("yyyy年MM月dd日");
                    r = beginDate + "&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;" + endDate;
                } catch (e) {
                    console.error(e);
                }
                return r;
            }
        }
        return '';
    }

    function taskStatus(val, record, index) {
        return CM_Components.dictByKey("TASK_STATUS",  ""+val);;
    }

    jQuery(document).ready(function () {

        var $cmmg_task_table = $("#cmmg_task_distribution_table");

        var tabUrl = CM_Components.getContextAll("/task/distribution/query");

        CM_Components.dictDataBinding("task_status_selector");
        CM_Components.initBootStrapTable($cmmg_task_table, tabUrl);

        $("#cmmg_task_distribution_searchBtn").click(function () {
            $cmmg_task_table.bootstrapTable("refresh", {
                query: CM_Components.getFormData("cmmg_task_distribution_form")
            });
        });

    });
</script>