<!--<link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />-->
<!--<link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />-->
<!--<link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />-->
<!--<link th:href="@{/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css}" rel="stylesheet" type="text/css" />-->
<!--<link th:href="@{/assets/global/plugins/bootstrapvalidator/css/bootstrapValidator.min.css}" rel="stylesheet" type="text/css" />-->
<!--<link th:href="@{/assets/global/css/cm-custom.css}" rel="stylesheet" type="text/css" />-->
<!--<link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css" />-->
<!--<link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css" />-->
<!--<link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />-->
<!--<link th:href="@{/assets/global/plugins/bootstrap-sweetalert/sweetalert.css}" rel="stylesheet" type="text/css" />-->
<link th:href="@{/assets/global/plugins/zTree/css/metroStyle/metroStyle.css}" rel="stylesheet" type="text/css"/>

<style type="text/css">

    .auth-title {
        margin: 10px;
    }

    .auth-title > div > span {
        padding: 10px;
    }
</style>
<div class="container row" style="width:100%;">
    <div class="form-unit">基本信息</div>
    <form class="form-horizontal" id="cpmg_role_addForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"><span class="required">*</span>角色名称&nbsp;：</label>
                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control" name="roleName"
                               th:value="${roleInfo}!=null ? ${roleInfo.roleName} : ''">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4">备注信息&nbsp;：</label>
                    <div class="col-md-8 col-sm-8">
                        <textarea name="remarks" class="form-control"
                                  th:text="${roleInfo}!=null ? ${roleInfo.remarks} : ''"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" th:value="${roleInfo}!=null ? ${roleInfo.id} : ''"/>
        <input type="hidden" name="roleCode" th:value="${roleInfo}!=null ? ${roleInfo.roleCode} : ''">
    </form>
    <div class="form-unit">授权</div>


    <div class="row">
        <div class="col-md-6 col-xs-6">
            <div class="auth-title">
                <div><span>菜单授权</span><a onclick="expandAll('cpmg_role_functionTree',true)">展开</a>/<a
                        onclick="expandAll('cpmg_role_functionTree',false)">折叠</a></div>
                <ul class="ztree" id="cpmg_role_functionTree"></ul>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <div class="auth-title">
                <div><span>数据授权</span><a onclick="expandAll('role_dept_Tree',true)">展开</a>/<a
                        onclick="expandAll('role_dept_Tree',false)">折叠</a></div>
                <ul class="ztree" id="role_dept_Tree"></ul>
            </div>
        </div>
    </div>
    <div class="row form-buttons">
        <div class="col-xs-7"></div>
        <div class="col-xs-5">
            <a id="cpmg_role_addBtn"
               class="btn btn-sm  green btn-outline sbold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提交&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a onclick="CommonUtils.closeTab('role_profile')" class="btn btn-sm  red btn-outline sbold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<!--<script th:src="@{/assets/auth/role.js}" type="text/javascript" ></script>-->
<script th:src="@{/assets/global/plugins/zTree/js/jquery.ztree.all.js}" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        var roleCode = $("#cpmg_role_addForm").find("input[name='roleCode']").val();
        CPMG_ROLE.initRoleAdd(roleCode);

        var setting = {
            view: {
                showLine: true,
                selectedMulti: false
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "parentId",
                    rootPId: "1"
                },
                key: {
                    name: "depName"
                }
            },
            check: {
                enable: true,
                chkboxType: {"Y": "p", "N": "p"}
            }
        };


        $.ajax({
            type: "GET",
            cache: false,
            url: CM_Components.getContextAll("/dep/json/list?roleCode="+roleCode),
            success: function (responseJson) {
                if (responseJson.success) {//成功
                    $.fn.zTree.init($("#role_dept_Tree"), setting, responseJson.obj);
                } else {
                    CM_Components.bootstrapSweetAlert("", responseJson.msg, "error");
                }
            },
            error: function (errorMsg) {
                CM_Components.bootstrapSweetAlert("", "获取部门数据出错,系统错误!!!", errorMsg);
            }
        });
    });

    function expandAll(treeId, expandFlag) {
        var $depTree = $.fn.zTree.getZTreeObj(treeId);
        $depTree.expandAll(expandFlag);
    }

</script>