<link th:href="@{/assets/global/plugins/select/css/select.css}" rel="stylesheet" type="text/css"/>


<script th:src="@{/assets/global/plugins/select/js/select.js}" type="text/javascript"></script>
<div class="portlet light">
    <div class="portlet-body">
        <form class="form-horizontal" id="sysConfig_search_form" style="height: 500px;">
            <input type="hidden" name="id" th:value="${task!=null?task.id:''}"/>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label col-md-4">公司&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="form-control select-container" arrow="down" data-url="/systemConfig/page/list"
                                 data-code="configCode" data-value="configValue">
                                <span class="item-name">全部</span>
                                <input type="text" name="configCode" hidden="hidden"/>
                                <span class="select-container-arrow"><i class="fa fa-sort-desc"></i></span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-6">部门&nbsp;:</label>
                        <div class="col-md-6">
                            <div class="input-group select-linkage" id="select-dept" children-id="select-group">
                                <span class="form-control select-linkage-show"></span>
                                <input type="hidden" name="deptCode">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-sm btn-primary">Go</button>
                               </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-6">&nbsp;组:</label>
                        <div class="col-md-6">
                            <div class="input-group select-linkage" id="select-group">
                                <span class="form-control select-linkage-show"></span>
                                <input type="hidden" name="deptCode">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-sm btn-primary">Go</button>
                               </span>
                            </div>
                        </div>
                    </div>
                </div>


                <script>
                    jQuery(document).ready(function () {
                        $("#select-dept").selectLinkage({"url": "/dept/linkage", "isTopLevel": true});
                    });

                    function selectClear() {
                        $("#select-dept").selectLinkage("reset");
                    }
                </script>
            </div>

            <table class="table table-hover">
                <caption>悬停表格布局</caption>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>邮编</th>
                </tr>
                </thead>
                <style>
                    .grid-tree {
                        position: relative;
                    }

                    .grid-tree-icon-merge {
                        background-position: -32px -16px !important;
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        left: 0px;
                    }

                    .grid-tree-icon-open {
                        background-position: -65px -16px !important;
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        left: 0px;
                    }

                    .grid-tree-name {
                        position: absolute;
                        left: 18px;
                    }
                </style>
                <script>
                    (function () {
                        $(".grid-tree-icon").click(function () {
                            var $that = $(this);

//                            if ($that.attr("class").search("grid-tree-icon-merge") < 0) {
//                                $that.removeClass("grid-tree-icon-open");
//                                $that.addClass("grid-tree-icon-merge");
//                            } else {
//                                $that.removeClass("grid-tree-icon-merge");
//                                $that.addClass("grid-tree-icon-open");
//                            }
//
                            if ($that.data("isOpen") === true) {
                                $that.removeClass("grid-tree-icon-open");
                                $that.addClass("grid-tree-icon-merge");
                                $that.data("isOpen", false);
                            } else {
                                $that.removeClass("grid-tree-icon-merge");
                                $that.addClass("grid-tree-icon-open");
                                $that.data("isOpen", true);
                            }

                        });
                    })();

                </script>
                <tbody>
                <tr>
                    <td>
                        <div class="grid-tree">
                            <div class="grid-tree-icon grid-tree-icon-merge"></div>
                            <div class="grid-tree-name">（SH）<a>层级</a></div>
                        </div>
                    </td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                </tr>
                </tbody>
            </table>


            <table class="table">
                <caption>基本的表格布局</caption>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                </tr>
                </tbody>
            </table>


            <table class="table table-striped">
                <caption>条纹表格布局</caption>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                    <th>邮编</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tanmay</td>
                    <td>Bangalore</td>
                    <td>560001</td>
                </tr>
                <tr>
                    <td>Sachin</td>
                    <td>Mumbai</td>
                    <td>400003</td>
                </tr>
                <tr>
                    <td>Uma</td>
                    <td>Pune</td>
                    <td>411027</td>
                </tr>
                </tbody>
            </table>


            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <div class="actions pull-left">
                        <a id="sysConfig_searchBtn" class="btn btn-sm btn-circle green sbold">
                            <i class="fa fa-search"></i> 搜索 </a>
                        <a onclick="selectClear()"
                           class="btn btn-sm btn-circle green btn-outline sbold">
                            <i class="fa fa-print"></i> 重置 </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>