<link th:href="@{/assets/global/plugins/select/css/select.css}" rel="stylesheet" type="text/css"/>

<div class="portlet light">
    <div class="portlet-body">
        <form class="form-horizontal" id="cmmg_sysConfig_search_form" style="height: 500px;">
            <input type="hidden" name="id" th:value="${task!=null?task.id:''}"/>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label col-md-4">公司&nbsp;:</label>
                        <div class="col-md-8">
                            <div class="form-control select-container" arrow="down" data-url="/systemConfig/page/list"
                                 data-code="configCode" data-value="configValue">
                                <span class="item-name">全部</span>
                                <input type="text" name="configCode" hidden="hidden"/>
                                <span class="select-container-arrow"><i class="fa fa-sort-desc"></i></span>
                            </div>
                        </div>
                    </div>
                </div>


                <style>

                </style>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-6">部门&nbsp;:</label>
                        <div class="col-md-6">
                            <div class="input-group select-linkage" id="select-dept" children-id="select-group">
                                <span class="form-control select-linkage-show"></span>
                                <input type="hidden" name="deptCode">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-sm btn-primary">Go</button>
                               </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-6">&nbsp;组:</label>
                        <div class="col-md-6">
                            <div class="input-group select-linkage" id="select-group">
                                <span class="form-control select-linkage-show"></span>
                                <input type="hidden" name="deptCode">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-sm btn-primary">Go</button>
                               </span>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    !function ($) {

                        var SelectLinkage = function (el, options) {
                            this.options = options;
                            this.$el = $(el);
                            this.$el_ = this.$el.clone();
                            this.init();
                        };

                        SelectLinkage.prototype.init = function () {
                            this.initOptions();
                            this.bandingEvent();
                            if (this.childrenId) {
                                this.childrenSelect.selectLinkage({
                                    "url": this.options.url,
                                    "isTopLevel": false,
                                    "isChildren": true
                                });
//                                $("#select-dept").selectLinkage({"url": "/dept/linkage", "isTopLevel": true});
                            }
                        }

                        SelectLinkage.prototype.initOptions = function () {

                            var $showLabel = this.$el.find("span.select-linkage-show");
                            this.showLabel = $showLabel;

                            var $childrenId = this.$el.attr("children-id");
                            if ($childrenId) {
                                this.childrenId = $childrenId;
                                this.childrenSelect = $("#" + $childrenId);
                            }

                            var $selectInput = this.$el.find("input[type=hidden]");
                            this.selectInput = $selectInput;
                        }

                        SelectLinkage.prototype.bandingEvent = function () {

                            var $that = this;
                            var $searchInput = $("<input class='form-control'>");

                            $that.showLabel.click(function () {
                                var $showLabel = $(this);
                                $showLabel.hide();
                                $showLabel.parent().prepend($searchInput);
                                $searchInput.focus();
                                $that.searchInput = $searchInput;
                                $that.searchInput.on("keypress", function (event) {
                                    // 回车
                                    if (event.which === 13) {
                                        $that.bandingData($(this).val());
                                    }
                                });
                            });


                            $that.$el.find("span.input-group-btn").click(function () {
                                var $searchInput = this.searchInput;
                                var params;
                                if ($searchInput) {
                                    params = $searchInput.val();
                                }
                                $that.bandingData(params);
                            });
                        }

                        SelectLinkage.prototype.bandingData = function (params) {

                            console.log("params\t", params)

                            var $that = this, $parentCode = $that.$el.data("parentCode");

                            if ($that.options.isChildren === true && !$parentCode) {
                                layer.msg("请选择上级组织");
                                return;
                            }

                            if ($that.selectContainerList) {
                                $that.selectContainerList.remove();
                                $that.selectContainerList = undefined;
                            }

                            var $selectContainerList = $("<div></div>");
                            $selectContainerList.addClass("select-container-list");
                            var $selectContainerItem = $("<div></div>");
                            $selectContainerItem.addClass("select-container-item");
                            var $ul = $("<ul></ul>");

//                            var $data = [{"name": "name1", "code": "code1"}, {"name": "name2", "code": "code2"}];

                            var params = "?parentCode=" + ($parentCode ? $parentCode : "") + "&deptName=" + ( $that.searchInput ? $that.searchInput.val() : "");

                            $.ajax({
                                url: CM_Components.getContextAll($that.options.url) + params,
                                type: "GET",
                                dataType: "json",
                                success: function (result) {
                                    var data = result && result.dataList;
                                    getListData(data);
                                }
                            });

                            function getListData(dt) {
                                var $li;
                                if (!dt || dt.length <= 0) {
                                    $li = $("<li></li>");
                                    $li.text("未匹配到数据");
                                    $ul.append($li);
                                } else {
                                    for (let index of dt) {
                                        $li = $("<li></li>");
                                        $li.attr("data-code", index["deptCode"]);
                                        $li.html(index["deptName"]);
                                        $li.click(function () {
                                            $that.showLabel.show().prev().remove();
                                            $that.searchInput = undefined;
                                            $that.showLabel.text($(this).html());
                                            var $currCode = $(this).attr("data-code");
                                            $that.selectInput.val($currCode);
                                            $selectContainerList.remove();
                                            $that.selectContainerList = undefined;
                                            if ($that.childrenSelect) {
                                                $that.childrenSelect.data("parentCode", $currCode);
                                            }
                                        });
                                        $ul.append($li);
                                    }
                                }
                                $selectContainerItem.append($ul);
                                $selectContainerList.append($selectContainerItem);
                                $that.$el.after($selectContainerList);
                                $that.selectContainerList = $selectContainerList
                            }
                        }

                        var allowedMethods = [
                            'getOptions',
                            'getSelectData',
                            'load', 'append', 'prepend', 'remove', 'removeAll',
                            'insertRow', 'updateRow', 'updateCell', 'updateByUniqueId', 'removeByUniqueId',
                            'getRowByUniqueId', 'showRow', 'hideRow', 'getRowsHidden',
                            'mergeCells',
                            'checkAll', 'uncheckAll',
                            'check', 'uncheck',
                            'checkBy', 'uncheckBy',
                            'refresh',
                            'resetView',
                            'resetWidth',
                            'destroy',
                            'showLoading', 'hideLoading',
                            'showColumn', 'hideColumn', 'getHiddenColumns',
                            'filterBy',
                            'scrollTo',
                            'getScrollPosition',
                            'selectPage', 'prevPage', 'nextPage',
                            'togglePagination',
                            'toggleView',
                            'refreshOptions',
                            'resetSearch',
                            'expandRow', 'collapseRow', 'expandAllRows', 'collapseAllRows'
                        ];

                        $.fn.selectLinkage = function (option) {
                            var value, args = Array.prototype.slice.call(arguments, 1);
                            this.each(function () {
                                var $this = $(this), data = $this.data('select.linkage');
                                // jQuery.extend() 函数用于将一个或多个对象的内容合并到目标对象。
                                var options = $.extend({}, data, typeof option === 'object' && option);
                                if (typeof option === 'string') {
                                    if ($.inArray(option, allowedMethods) < 0) {
                                        throw new Error("Unknown method: " + option);
                                    }

                                    if (!data) {
                                        return;
                                    }
                                    value = data[option].apply(data, args);
//                                    if (option === 'destroy') {
//                                        $this.removeData('select.linkage');
//                                    }
                                }
                                if (!data) {
                                    $this.data('select.linkage', (data = new SelectLinkage(this, options)));
                                }
                            });
                            return typeof value === 'undefined' ? this : value;
                        }
                    }(jQuery);
                </script>

                <script>
                    jQuery(document).ready(function () {
                        $("#select-dept").selectLinkage({"url": "/dept/linkage", "isTopLevel": true});
                    });
                </script>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <div class="actions pull-left">
                        <a id="cmmg_sysConfig_searchBtn" class="btn btn-sm btn-circle green sbold">
                            <i class="fa fa-search"></i> 搜索 </a>
                        <a onclick="CommonUtils.reset('cmmg_sysConfig_search_form')"
                           class="btn btn-sm btn-circle green btn-outline sbold">
                            <i class="fa fa-print"></i> 重置 </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/assets/global/plugins/select/js/select.js}" type="text/javascript"></script>