<div class="container" style="width: 100%;">
    <div id="bms-dictData-btn" class="row">
        <div class="col-md-1 col-xs-2">
            <button data-url="/dictData/profile" data-type="add" type="button" class="btn btn-success btn-sm"><i
                    class="fa fa-plus"></i>&nbsp;新增
            </button>
        </div>
        <div class="col-md-1 col-xs-2">
            <button data-url="/dictData/profile" data-type="edit" type="button" class="btn btn-info btn-sm"><i
                    class="fa fa-edit"></i>&nbsp;修改
            </button>
        </div>
        <div class="col-md-1 col-xs-2">
            <button data-url="/dictData/del" data-type="del" type="button" class="btn btn-danger btn-sm"><i
                    class="fa fa-remove"></i>&nbsp;删除
            </button>
        </div>
    </div>
    <form id="bms-dictData-search-form" class="form-horizontal" >
        <input type="hidden" name="dictCode" th:value="${code}"/>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-4">字典名称&nbsp;:</label>
                    <div class="col-md-8">
                        <input type="text" name="name" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-4">字典类型&nbsp;:</label>
                    <div class="col-md-8">
                        <input type="text" name="code" class="form-control"></div>
                </div>
            </div>
            <div id="bms-dictData-search-btn" class="col-lg-2 col-md-2 col-sm-6">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a data-type="search" class="btn btn-sm btn-circle green sbold">
                        <i class="fa fa-search"></i> 搜索 </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a data-type="reset" class="btn btn-circle green btn-outline sbold btn-sm">
                        <i class="fa fa-print"></i> 重置 </a>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <table id="bms-dictData-table" data-form="bms-dictData-search-form" data-classes="table table-no-bordered">
            <thead>
            <tr>
                <th data-id-field="id" data-checkbox="true">id</th>
                <th data-field="name">字典名称</th>
                <th data-field="code">字典类型</th>
                <th data-field="marks">备注</th>
                <th data-formatter="dictDataOperate">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<script  th:inline="javascript">

    jQuery(document).ready(function () {

        // 头部按钮
        $("#bms-dictData-btn").buttonInit({
            "tabTitle": "编辑字典",
            "bootstrapTable": "bms-dictData-table"
        });

        // 查询form表单按钮
        $("#bms-dictData-search-btn").formButtonInit({
            "searchForm": "bms-dictData-search-form",
            "searchUrl": "/dictData/page/list",
            "bootstrapTable": "bms-dictData-table",
            "bootstrapTableInit": true
        });
    });


    function dictDataOperate(val, record, index) {
        var id = record.id;
        return "<a title='编辑' onclick='openDictDataEditWin(\"" + id + "\")' class='row-btn'><i class=\"fa fa-pencil\"></i></a>" +
            "<a title=\"删除字典类型\" onclick='delDictData(\"" + id + "\")' class='row-btn'><i class=\"fa fa-trash-o\"></i></a>";
    }

    function openDictDataEditWin(id) {
        CommonUtils.addTab(id, "编辑字典数据", CommonUtils.getContextAll("/dictData/profile?id=" + id));
    }


    function delDictData(id) {
        if (!id) {
            console.error("id为空");
            return;
        }
        swal({
                title: "确定删除吗？",
                text: "你将无法恢复该虚拟文件！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定删除！",
                cancelButtonText: "取消删除！"
            },
            function () {
                $.ajax({
                    url: CommonUtils.getContextAll("/dictData/del"),
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify([id]),
                    success: function (result) {
                        CM_Components.layerMsg("删除成功！");
                        $("#bms-dictData-table").bootstrapTable('refresh', {
                            query: CommonUtils.getFormData("bms-dictData-search-form")
                        });
                    }
                });
            });
    }
</script>