<div class="container" style="width: 100%;">
    <div id="bms-dict-btn" class="row">
        <div class="col-md-1 col-xs-2">
            <button data-url="/dict/profile" data-type="add" type="button" class="btn btn-success btn-sm"><i
                    class="fa fa-plus"></i>&nbsp;新增
            </button>
        </div>
        <div class="col-md-1 col-xs-2">
            <button data-url="/dict/profile" data-type="edit" type="button" class="btn btn-info btn-sm"><i
                    class="fa fa-edit"></i>&nbsp;修改
            </button>
        </div>
        <div class="col-md-1 col-xs-2">
            <button data-url="/dict/del" data-type="del" type="button" class="btn btn-danger btn-sm"><i
                    class="fa fa-remove"></i>&nbsp;删除
            </button>
        </div>
    </div>
    <form id="bms-dict-search-form" class="form-horizontal">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-4">字典名称&nbsp;:</label>
                    <div class="col-md-8">
                        <input type="text" name="name" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-4">字典类型&nbsp;:</label>
                    <div class="col-md-8">
                        <input type="text" name="code" class="form-control"></div>
                </div>
            </div>
            <div id="bms-function-search-btn" class="col-lg-2 col-md-2 col-sm-6">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a data-type="search" class="btn btn-sm btn-circle green sbold">
                        <i class="fa fa-search"></i> 搜索 </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a data-type="reset" class="btn btn-circle green btn-outline sbold btn-sm">
                        <i class="fa fa-print"></i> 重置 </a>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <table id="bms-dict-table" data-classes="table table-no-bordered">
            <thead>
            <tr>
                <th data-id-field="id" data-checkbox="true">id</th>
                <th data-field="name">字典名称</th>
                <th data-field="code">字典类型</th>
                <th data-field="marks">备注</th>
                <th data-formatter="dictOperate">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>

    jQuery(document).ready(function () {
        // 头部按钮
        $("#bms-dict-btn").buttonInit({
            "tabTitle": "编辑字典",
            "bootstrapTable": "bms-dict-table"
        });

        // 查询form表单按钮
        $("#bms-function-search-btn").formButtonInit({
            "searchForm": "bms-dict-search-form",
            "searchUrl": "/dict/page/list",
            "bootstrapTable": "bms-dict-table",
            "bootstrapTableInit": true
        });
    });

    function dictOperate(val, record, index) {
        var id = record.id;
        return "<a title='编辑' onclick='openDictEditWin(\"" + id + "\")' class='row-btn'><i class=\"fa fa-pencil\"></i></a>" +
            "<a title=\"字典数据\" onclick='queryDictData(\"" + record.code + "\")'  class='row-btn'><i class=\"fa fa-navicon\"></i></a>" +
            "<a title=\"删除字典类型\" onclick='delDict(\"" + id + "\")'  class='row-btn'><i class=\"fa fa-trash-o\"></i></a>";
    }

    function openDictEditWin(id) {
        CommonUtils.addTab(id, "编辑字典类型", CommonUtils.getContextAll("/dict/profile?id=" + id));
    }

    function queryDictData(code) {
        CommonUtils.addTab("dict_profile_tab", "字典数据", CommonUtils.getContextAll("/dictData/main?code=" + code));
    }

    function delDict(id) {
        if (!id) {
            console.error("id为空");
            return;
        }
        swal({
                title: "确定删除吗？",
                text: "你将无法恢复该虚拟文件！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定删除！",
                cancelButtonText: "取消删除！"
            },
            function () {
                var params = [];
                params.push(id);
                $.ajax({
                    url: CommonUtils.getContextAll("/dict/del"),
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(params),
                    dataType: "json",
                    success: function (res) {
                        BmsComponents.layerMsg(res.msg);
                        $("#bms-dict-table").bootstrapTable('refresh', {
                            query: CommonUtils.getFormData("bms-dict-search-form")
                        });
                    }
                });
            });
    }

</script>