<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
      type="text/css" xmlns:th="http://www.w3.org/1999/xhtml"/>
<link th:href="@{/assets/global/css/cm-custom.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/assets/module/customer/css/customer_mobile_detail.css}" rel="stylesheet" type="text/css"/>
<style>

    .customer-mobile-task-list {
        margin-top: 50px;
    }

    .customer-mobile-task-list span {
        margin: 0px 2px;
    }

    .customer-mobile-task-name {
        color: #65d095;
    }

</style>
<!--<div style="border-top:1px solid #ddd;background-color: white;" id="cmmp_customer_mobile_detail">-->
<div style="border-top:1px solid #ddd;background-color: white;"
     th:attr="id='cmmp_customer_mobile_detail'+${appUser.userNo}">
    <div class="container cmmp_customer_mobile_detail_container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-3">
                        <h4>[[${appUser.name}]]
                            <small th:text="|${appUser.age}岁|"></small>
                        </h4>
                    </div>
                    <div class="col-md-2  col-md-offset-7">
                        <div>
                            <p class="cmmp_customer_mobile_detail_grade">A1</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        注册于<span th:text="${#dates.format(appUser.registerDate, 'yyyy年MM月dd日')}"></span>
                    </div>
                    <div class="col-md-2">
                        <span th:if="${appUser.referee}!=null" th:text="|由${appUser.referee}推荐|"></span>
                    </div>
                    <div class="col-md-3 col-md-offset-5">
                        持有：<span th:text="${appUser.haveBalance}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        投资人ID：<span th:text="${appUser.userNo}"></span>
                    </div>
                    <div class="col-md-4">
                        手机： <span th:text="${appUser.mobile}"></span>
                    </div>
                    <div class="col-md-3">
                        余额： <span th:text="${appUser.balance}"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="position: relative;">
                <div class="container contact-customer" style="width: 100%;position: absolute;">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8" style="margin-top: 10px;"><h4>与我联系</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  col-sm-4">
                            <div class="cmmp_circle_btn" th:attr="id='cmmg_call_btn'+${appUser.userNo}"></div>
                        </div>
                        <div class="col-md-4  col-sm-4">
                            <div class="cmmp_circle_sms_btn" th:attr="id='cmmp_circle_sms_btn'+${appUser.userNo}"></div>
                        </div>
                        <div class="col-md-4  col-sm-4">
                            <div class="cmmp_circle_wechat_btn"></div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 9px;">
                        <div class="col-md-4 col-sm-4">
                            <div style="text-align: center;width: 50px" th:attr="id='cmmg_call_text'+${appUser.userNo}">
                                呼叫
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div style="text-align: center;width: 50px">短信</div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div style="text-align: center;width: 50px">微信</div>
                        </div>
                    </div>
                    <div class="row" th:attr="id='customer-mobile-call-operate'+${appUser.userNo}" hidden>
                        <form class="customer-mobile-task-list"
                              th:attr="id='customer-mobile-task-list'+${appUser.userNo}">
                            <textarea class="form-control" placeholder="添加通话备注"></textarea>
                            <p>勾选关联任务</p>

                            <!--<div><input type="checkbox" id="dddd" value="111"><label for="dddd"><span
                                    class="customer-mobile-task-name">特殊项目活动</span><span>未完成风评客户</span></label></div>
                            <div><input type="checkbox" id="dddd1"><label for="dddd1"><span
                                    class="customer-mobile-task-name">特殊项目活动</span><span>未完成风评客户</span></label></div>-->
                        </form>
                        <button style="margin-top: 10px;" type="button" class="btn btn-primary"
                                th:attr="id='sms-call-add-operate-submit-btn'+${appUser.userNo}">确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-9 col-sm-9">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <!--<a href="#cmmp_customer_mobile_follow_up" data-toggle="tab">-->
                            <a th:href="'#cmmp_customer_mobile_follow_up'+${appUser.userNo}" data-toggle="tab">跟进</a>
                        </li>
                        <li>
                            <!--<a href="#cmmp_customer_mobile_detail_data" data-toggle="tab">资料</a>-->
                            <a th:href="'#cmmp_customer_mobile_detail_data'+${appUser.userNo}" data-toggle="tab">资料</a>
                        </li>
                        <li>
                            <!--<a href="#cmmp_customer_mobile_detail_task" data-toggle="tab">任务</a>-->
                            <a th:href="'#cmmp_customer_mobile_detail_task'+${appUser.userNo}" data-toggle="tab">任务</a>
                        </li>
                        <li>
                            <!--<a href="#cmmp_customer_mobile_detail_invest" data-toggle="tab">投资</a>-->
                            <a th:href="'#cmmp_customer_mobile_detail_invest'+${appUser.userNo}"
                               data-toggle="tab">投资</a>
                        </li>
                        <li>
                            <a th:href="'#cmmp_customer_mobile_detail_coupons'+${appUser.userNo}"
                               data-toggle="tab">券包</a>
                        </li>
                        <li>
                            <a href="#jmeter" data-toggle="tab">工单</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- 跟进 begin -->
                        <!--<div class="tab-pane fade in active" id="cmmp_customer_mobile_follow_up">-->
                        <div class="tab-pane fade in active"
                             th:attr="id='cmmp_customer_mobile_follow_up'+${appUser.userNo}">
                            <table style="margin-bottom: 10px;">
                                <tr>
                                    <td><p class="cmmp_add_marks" th:attr="id='cmmp_add_marks'+${appUser.userNo}">+</p>
                                    </td>
                                    <td style="padding-left: 10px;color: #a7a1a1;width: 94px;">点击添加备注</td>
                                </tr>
                                <tr th:attr="id='cmmp_add_marks_form'+${appUser.userNo}" hidden>
                                    <td colspan="6">
                                        <input style="width: 400px;margin-right: 10px;" type="text" name="marks"
                                               class="form-control">
                                    </td>
                                    <td><select name="operateStatus" class="form-control">
                                        <option value="">选择</option>
                                        <option value="关机">关机</option>
                                        <option value="停机">停机</option>
                                        <option value="无人接听">无人接听</option>
                                        <option value="拒接">拒接</option>
                                        <option value="已接通">已接通</option>
                                        <option value="空号">空号</option>
                                    </select></td>
                                    <td>
                                        <div th:attr="id='cmmp_customer_mobile_detail_marks_submit'+${appUser.userNo}"
                                             class="customer_mobile_detail_marks_submit">提交
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table th:attr="id='cmmg_operate_record_table'+${appUser.userNo}"
                                   style="margin-bottom: 10px;"
                                   data-click-to-select="true"
                                   class="table table-bordered cmmg-common-table"
                                   data-page-size="20">
                                <thead>
                                <tr>
                                    <th data-field="marks">跟进内容</th>
                                    <th data-field="saleName">客户经理</th>
                                    <th data-field="createDate">记录时间</th>
                                    <th data-field="operateStatus">状态</th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- 跟进 end -->

                        <!-- 资料 begin -->
                        <div class="tab-pane fade customer_mobile_detail_data"
                             th:attr="id='cmmp_customer_mobile_detail_data'+${appUser.userNo}">
                            <table id="cmmp_customer_mobile_detail_data_table"
                                   class="cmmp_customer_mobile_detail_data_table">
                                <tr>
                                    <td width="80" class="cmmp_customer_mobile_detail_data_table_title">姓名</td>
                                    <td width="200" class="cmmp_customer_mobile_detail_data_table_content"
                                        th:text="${appUser.name}"></td>
                                    <td colspan="2" class="cmmp_customer_mobile_detail_data_table_title">首选联系方式</td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">客户等级</td>
                                    <td clas="cmmp_customer_mobile_detail_data_table_content"
                                        th:text="${appUser.grade}"></td>
                                    <td width="80" class="cmmp_customer_mobile_detail_data_table_title">手机</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"
                                        th:text="${appUser.mobile}"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">生日</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"
                                        th:text="${#dates.format(appUser.birthday, 'yyyy-MM-dd')}"></td>
                                    <td width="80" class="cmmp_customer_mobile_detail_data_table_title">微信</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">SSN</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"
                                        th:text="${appUser.ssn}"></td>
                                    <td width="80" class="cmmp_customer_mobile_detail_data_table_title">QQ</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">所在区域</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                    <td width="80" class="cmmp_customer_mobile_detail_data_table_title">邮箱</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">号段区域</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                    <td width="80" class="cmmp_customer_mobile_detail_data_table_title">注册渠道</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content" th:text="${appUser.channelName}"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">内部员工</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">公司高管</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                            </table>

                            <table style="margin-top:20px;">
                                <tr>
                                    <td width="80" class="cmmp_customer_mobile_detail_data_table_title">关注订阅号</td>
                                    <td width="200" class="cmmp_customer_mobile_detail_data_table_content"></td>
                                    <td width="80" class="cmmp_customer_mobile_detail_data_table_title">贷款客户</td>
                                    <td width="200" class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                                <tr>
                                    <td width="90" class="cmmp_customer_mobile_detail_data_table_title">理财方式</td>
                                    <td width="200" class="cmmp_customer_mobile_detail_data_table_content"></td>
                                    <td width="80" class="cmmp_customer_mobile_detail_data_table_title">投资客户</td>
                                    <td width="200" class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">决绝原因</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">客户类型</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">客户潜在等级</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                    <td class="cmmp_customer_mobile_detail_data_table_title"></td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">用户名</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">所属销售</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                                <tr>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">推荐渠道</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                    <td class="cmmp_customer_mobile_detail_data_table_title">分配日期</td>
                                    <td class="cmmp_customer_mobile_detail_data_table_content"></td>
                                </tr>
                            </table>

                        </div>
                        <!-- 资料 end -->

                        <!-- 任务 begin -->
                        <div class="tab-pane fade" th:attr="id='cmmp_customer_mobile_detail_task'+${appUser.userNo}">
                            <h4 style="border-bottom: 1px solid #c5c1c1;padding-bottom: 14px;">任务项</h4>
                            <ul style="padding: 0px;margin-left: 19px;">
                                <!-- <li class="cmmg_list_circular_yellow task_content"><span>特殊项目活动</span> 无退无投 1月18日开始</li>
                                 <li class="cmmg_list_circular_red task_content"><span>特殊项目活动</span> 方案3在投加息奖 2017年7月1日-20181月18日</li>
                                 <li class="cmmg_list_right task_content"><span>特殊项目活动</span> 特殊项目活动 于2017年7月1日完成</li>-->
                            </ul>
                        </div>
                        <!-- 任务 end -->

                        <!-- 投资 begin -->
                        <div class="tab-pane fade customer_mobile_detail_invest"
                             th:attr="id='cmmp_customer_mobile_detail_invest'+${appUser.userNo}">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>持有本金</h4>
                                    <p><span class="cmmg_money" th:text="${appUser.haveBalance}"></span>&nbsp;元
                                    </p>
                                    <h4>可用余额</h4>
                                    <p><span class="cmmg_money" th:text="${appUser.balance}"></span>元</p>
                                    <p>累计收益：<span class="cmmg_money_1" th:text="${appUser.totalProfit}"></span></p>
                                    <p>持有产品：<span class="cmmg_money_1" th:if="${appUser.haveProductCount}>0"
                                                  th:text="${appUser.haveProductCount}+'类'"></span></p>
                                    <!--<p>利息复投：<span class="cmmg_money_1">开启</span></p>-->
                                </div>
                                <div class="col-md-8">
                                    <table>
                                        <tr>
                                            <th style="width: 150px;">产品</th>
                                            <th style="width: 120px;">持有本金</th>
                                            <th style="width: 120px;">交易次数</th>
                                            <th style="width: 120px;">累计收益</th>
                                        </tr>

                                        <tr th:each="buyContract,rowStat:${buyContracts}">
                                            <td class="cmmg_money" th:text="${buyContract.productName}"></td>
                                            <td th:text="${buyContract.money}"></td>
                                            <td th:text="${buyContract.count}"></td>
                                            <td th:text="${buyContract.totalProfit}"></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <h4 class="cmmg_money">交易记录(55)</h4>
                            <form th:attr="id='cmmg_customer_mobile_detail_transaction_record_form'+${appUser.userNo}">
                                <input type="hidden" name="userNo" th:value="${appUser.userNo}">
                                <table>
                                    <tr>
                                        <td>交易日期：</td>
                                        <td>
                                            <div>
                                                <input name="beginDate" size="16" type="text" readonly
                                                       class="form_datetime form-control">
                                            </div>
                                        </td>
                                        <td>~</td>
                                        <td>
                                            <div>
                                                <input name="endDate" size="16" type="text" readonly
                                                       class="form_datetime form-control">
                                            </div>
                                        </td>
                                        <td style="padding-left: 30px;">交易状态：</td>
                                        <td>
                                            <!--style="font-size: .8em;"-->
                                            <select th:attr="id='cmmg_cusotmer_mobile_transaction_status'+${appUser.userNo}"
                                                    code="TRANSACTION_STATUS" name="payStatus"
                                                    style="font-size: .8em;" class="form-control">
                                            </select>
                                        </td>
                                        <td>
                                            <div style="margin-left: 30px;">
                                                <!--<a onclick="CommonUtils.reset('cmmg_customer_mobile_detail_transaction_record_form')"-->
                                                <a th:attr="id='cmmg_cusotmer_mobile_transaction_reset'+${appUser.userNo}"
                                                   class="btn btn-circle green btn-outline sbold">
                                                    <i class="fa fa-print"></i> 重置 </a>
                                                <a th:attr="id='cmmg_customer_mobile_detail_querybtn'+${appUser.userNo}"
                                                   class="btn btn-circle green btn-outline sbold">
                                                    <i class="fa fa-search"></i> 搜索 </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                            <!-- 交易记录 -->
                            <table th:attr="id='cmmg_customer_mobile_transaction_record'+${appUser.userNo}"
                                   data-click-to-select="true"
                                   class="table table-bordered cmmg-common-table"
                                   data-page-size="20">
                                <thead>

                                <script>
                                    function tradingState(val, record, index) {
//                                        return CMMG_DICT["TRANSACTION_STATUS"]["" + val];
                                        return CM_Components.dictByKey("TRANSACTION_STATUS", "" + val);
                                        ;
                                    }
                                </script>
                                <tr>
                                    <th data-sortable="true" data-field="orderNo">订单号</th>
                                    <th data-sortable="true" data-field="productName">产品名称</th>
                                    <th data-sortable="true" data-field="preProfitRate">历史年化收益率</th>
                                    <th data-sortable="true" data-field="txAmt">交易金额</th>
                                    <th data-sortable="true" data-field="rayStatus" data-formatter="tradingState">交易状态
                                    </th>
                                    <th data-sortable="true" data-field="txTime">交易时间</th>
                                    <th data-sortable="true" data-field="sysId">交易方式</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- 投资 end -->

                        <!-- 券包 begin -->
                        <div th:attr="id='cmmp_customer_mobile_detail_coupons'+${appUser.userNo}" class="tab-pane fade">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#cmmp_customer_mobile_detail_quanbao" data-toggle="tab">券包</a>
                                </li>
                                <li><a href="#cmmp_customer_mobile_detail_tiyanjin" data-toggle="tab">体验金</a></li>
                            </ul>

                            <script>
                                function startStopDateFormat(val, record, index) {
//                                    var beginDate=.Format("yyy");
//                                    record.endDate
                                    return record.beginDate + "至" + record.endDate;
                                }

                                function showStatus(val, record, index) {
                                    var result = CM_Components.dictByKey("COUPONS_STATUS", val + "");
                                    return result;
                                }

                            </script>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="cmmp_customer_mobile_detail_quanbao">
                                    <table th:attr="id='cmmp_customer_mobile_detail_quanbao_table'+${appUser.userNo}"
                                           data-click-to-select="true"
                                           class="table table-bordered cmmg-common-table"
                                           data-page-size="20">
                                        <thead>
                                        <tr>
                                            <th data-field="activityName">活动名称</th>
                                            <!--<th data-sortable="true" data-field="productName">活动内容</th>-->
                                            <th data-field="activeStatus" data-formatter="showStatus">状态</th>
                                            <th data-field="startStopDate" data-formatter="startStopDateFormat">起止时间
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="cmmp_customer_mobile_detail_tiyanjin">
                                    <table th:attr="id='cmmp_customer_mobile_detail_tiyanjin_table'+${appUser.userNo}"
                                           data-click-to-select="true"
                                           class="table table-bordered cmmg-common-table"
                                           data-page-size="20">
                                        <thead>
                                        <tr>
                                            <th data-field="activityName">活动名称</th>
                                            <!--<th data-sortable="true" data-field="productName">活动内容</th>-->
                                            <th data-field="activeStatus" data-formatter="showStatus">状态</th>
                                            <th data-field="startStopDate" data-formatter="startStopDateFormat">起止时间
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- 券包 end -->

                        <!-- 工单 begin -->
                        <div th:attr="id='cmmp_customer_mobile_detail_work_order'+${appUser.userNo}"
                             class="tab-pane fade">

                        </div>
                        <!-- 工单 end -->
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<!-- 短信发送 modal begin -->
<!--<div class="modal fade false" id="sms-send-modal" tabindex="-1" role="dialog" aria-labelledby="sms-send-modalLabel"-->
<div class="modal fade false" th:attr="id='sms-send-modal'+${appUser.userNo}" tabindex="-1" role="dialog"
     aria-labelledby="sms-send-modalLabel"
     aria-hidden="true"
     data-backdrop="false">
    <div class="modal-dialog" style="width: 370px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">发送短信</h4>
            </div>
            <div class="modal-body">
                <table class="sms-send">
                    <tr>
                        <td>手机号码</td>
                        <td>158****2125</td>
                    </tr>
                    <tr>
                        <td>短信模板</td>
                        <td>
                            <div class="sms-template" th:attr="id='sms-template'+${appUser.userNo}">
                                <p style="width: 200px;">选择模板</p>
                                <div th:attr="id='sms-template-content'+${appUser.userNo}" class="sms-template-content">
                                </div>
                                <span class="sms-template-check sms-template-collapse"
                                      th:attr="id='sms-template-check'+${appUser.userNo}"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <p style="margin-top: 50px;">勾选关联任务</p>
                <form class="customer-mobile-task-list"
                      th:attr="id='customer-sms-task-list'+${appUser.userNo}">
                    <!--<div><input type="checkbox" id="dddd"><input type="hidden" value="11111"><label for="dddd"><span
                            class="customer-mobile-task-name">特殊项目活动</span><span>未完成风评客户</span></label></div>
                    <div><input type="checkbox" id="dddd1"><input type="hidden" value="22222"><label for="dddd1"><span
                            class="customer-mobile-task-name">特殊项目活动</span><span>未完成风评客户</span></label></div>-->
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" th:attr="id='sms-send-submit-btn'+${appUser.userNo}">确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 短信发送 modal end -->
<script th:src="@{/assets/module/customer/mobile/customer_mobile_detail.js}" type="text/javascript"></script>
<script th:src="@{/assets/module/call/jquery.wincall.v2.js}" language="javascript"></script>
<script type="application/javascript" th:inline="javascript">


    (function () {
        /*<![CDATA[*/
        var userNo =/*[[${appUser.userNo}]]*/;

        /*]]>*/
        var $customer_sms_task_list = $("#customer-sms-task-list" + userNo);

        var $customer_mobile_call_operate=$("#customer-mobile-call-operate"+userNo);

        var $customer_mobile_task_list = $("#customer-mobile-task-list" + userNo);
        $("#sms-call-add-operate-submit-btn" + userNo).click(function () {
            var remarks = $customer_mobile_task_list.find("textarea").val();
            var list = $customer_mobile_task_list.find("input[type='checkbox']");

            var tasks = [], callTask, params = {};
            params["marks"] = remarks;
            params["userNo"] = userNo;

            if (list) {
                var $that, $taskId;
                for (var i = 0; i < list.length; i++) {
                    $that = $(list[i]);
                    if ($that.is(":checked")) {
                        callTask = {};
                        $taskId = $that.next();
                        callTask["id"] = $taskId.val();
                        callTask["taskName"] = $taskId.next().find(".customer-mobile-task-name").html();
                        tasks.push(callTask);
                    }
                }
            }
            if (tasks && tasks.length > 0) {
                params["tasks"] = tasks;
            }

            $.ajax({
                url: CM_Components.getContextAll("/operate/addCallOperateRecord"),
                type: "POST",
                async: false,
                data: JSON.stringify(params),
                contentType: 'application/json',
                success: function (result) {
                    if (result) {
                        CM_Components.layerMsg(result.msg);
                        $customer_mobile_call_operate.hide();
                    } else {
                        console.error("添加失败成功");
                    }
                },
                error: function (xhr, status, error) {
                    CM_Components.layerMsg("添加失败！");
                }
            });
        });

        // 绑定任务
        function bindingTask(taskList) {
            var $u = $("#cmmp_customer_mobile_detail_task" + userNo + " ul");
            //var content='<li class="cmmg_list_circular_yellow task_content"><span>特殊项目活动</span> 无退无投 1月18日开始</li>';
            var content = '<li class="{0} task_content"><span>&nbsp;{1}</span>&nbsp;{2} {3}开始</li>';

            //var callTask='<div><input type="checkbox" id="dddd" value="111"><label for="dddd"><span class="customer-mobile-task-name">特殊项目活动</span><span>未完成风评客户</span></label></div>';
            var callTask = '<div><input type="checkbox" id="{0}"><input type="hidden" value="{1}"><label for="{2}"><span class="customer-mobile-task-name">{3}</span><span>{4}</span></label></div>';
            var smsTask = '<div><input type="checkbox" id="{0}"><input type="hidden" value="{1}"><label for="{2}"><span class="customer-mobile-task-name">{3}</span><span>{4}</span></label></div>';


            var params;
            var id = userNo;
            var taksType,remarks;
            taskList.forEach(function (t) {
                params = [];
                //taksType = t.taskType;
                remarks=t.remarks;
                if (!remarks) {
                    remarks = '';
                }
                if (t.taskStatus == 0) {
                    params.push('cmmg_list_circular_yellow');
                    id = id + t.id;
                    callTask = callTask.format(id, t.id, id, t.taskName, remarks);
                    $customer_mobile_task_list.append(callTask);
                    smsTask = smsTask.format("sms" + id, t.id, "sms" + id, t.taskName, remarks);
                    $customer_sms_task_list.append(smsTask);
                } else {
                    params.push('cmmg_list_right');
                }
                params.push(t.taskName);
                params.push(remarks);
                params.push(t.beginDate);
                content = content.format(params);
                $u.append(content);
            });
        }

        $.ajax({
            url: CM_Components.getContextAll("/task/distribution/query?userNo=" + userNo),
            type: "get",
            dataType: "json",
            success: function (result) {
                if (result) {
                    var dataList = result.dataList;
                    if (dataList && dataList.length > 0) {
                        bindingTask(dataList);
                    }
                }
            }
        });

        $("#cmmg_customer_mobile_transaction_record" + userNo).attr("data-form", "cmmg_customer_mobile_detail_transaction_record_form" + userNo);


        var $cmmp_add_marks_form = $("#cmmp_add_marks_form" + userNo);
        // 设置宽度
        $("#cmmp_add_marks" + userNo).on("click", function () {
            $cmmp_add_marks_form.show();
        });

        $("#cmmg_cusotmer_mobile_transaction_reset" + userNo).click(function () {
            CommonUtils.reset("cmmg_customer_mobile_detail_transaction_record_form" + userNo);
        });


        // 备注提交
        $("#cmmp_customer_mobile_detail_marks_submit" + userNo).on("click", function () {
            var marks = $cmmp_add_marks_form.find("input[name='marks']").val();

            if (!marks) {
                CM_Components.layerMsg("请输入跟进信息！");
                return;
            }

            var operateStatus = $cmmp_add_marks_form.find("select").val();

            var params = {"userNo": userNo, "operateStatus": operateStatus, "marks": marks};
            $.ajax({
                url: CM_Components.getContextAll("/operate/operateRecord"),
                type: "POST",
                async: false,
                data: JSON.stringify(params),
                contentType: 'application/json',
                success: function (result) {
                    console.info("添加跟进成功");
                },
                error: function (xhr, status, error) {
                    CM_Components.layerMsg("添加失败！");
                }
            });

            $cmmp_add_marks_form.hide();
            $("#cmmg_operate_record_table" + userNo).bootstrapTable("refresh", {
                url: CM_Components.getContextAll("/operate/page/list"),
                query: {"userNo": userNo}
            });
        });


        var url = CM_Components.getContextAll("/customer/findTransaction");
        CMMG_CUTOMER_MOBILE_DETAIL.initTable("cmmg_customer_mobile_transaction_record" + userNo, url, {"userNo": userNo});

        var couponUrl = CM_Components.getContextAll("/customer/mobile/queryCoupons");
        // 券包
        CMMG_CUTOMER_MOBILE_DETAIL.initTable("cmmp_customer_mobile_detail_quanbao_table" + userNo, couponUrl, {
            "userNo": userNo,
            "couponType": "2"
        });
//        // 体验金
        CMMG_CUTOMER_MOBILE_DETAIL.initTable("cmmp_customer_mobile_detail_tiyanjin_table" + userNo, couponUrl, {"userNo": userNo});
        // 操作记录
        CMMG_CUTOMER_MOBILE_DETAIL.initTable("cmmg_operate_record_table" + userNo, CM_Components.getContextAll("/operate/page/list"), {"userNo": userNo});
        // 交易记录查询按钮
        CMMG_CUTOMER_MOBILE_DETAIL.initQueryBtn("cmmg_customer_mobile_detail_querybtn" + userNo,
            "cmmg_customer_mobile_detail_transaction_record_form" + userNo, "cmmg_customer_mobile_transaction_record" + userNo, url);


        $(".form_datetime").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            /*showCurrentDate:true,*/
            autoclose: true,
            minView: 2
        });
        CM_Components.dictDataBinding("cmmg_cusotmer_mobile_transaction_status" + userNo);

        var expand = false;

        var flag = false;
        var $cmmg_call_text = $("#cmmg_call_text" + userNo);
        $("#cmmg_call_btn" + userNo).click(function () {
            var mobile;
            $.ajax({
                url: CM_Components.getContextAll("/customer/mobile/queryMobile?userNo=" + userNo),
                type: "POST",
                async: false,
                //ontentType: 'application/json',
                success: function (result) {
                    if (result) {
                        mobile = parseInt(result);
                    }
                },
                error: function (xhr, status, error) {
                    CM_Components.layerMsg("查询失败！");
                }
            });

            console.info("呼叫mobile:" + mobile);
            var $that = $(this);
            if (!flag) {
                try {
                    //呼叫外线
                    var callParams = CommonUtils.getCallParams();
                    if (mobile) {
                        wincall.fn_dialouter(mobile, callParams["call"], callParams["group"]);
                        $customer_mobile_call_operate.show();
                    } else {
                        console.error("手机号码为空！")
                    }
                } catch (err) {
                    console.error("客户详情页呼叫异常", err)
                    CM_Components.layerMsg("呼叫失败！请检查电话配置");
                    return;
                }
                $that.css("background-color", "red");
                $cmmg_call_text.html("挂断");
                flag = true;
            } else {
                $that.css("background-color", "white");
                $cmmg_call_text.html("呼叫");
                wincall.fn_hangup();
                flag = false;
            }
        });


        $("#sms-template-check" + userNo).click(function () {
            var that = $(this);
            var $sms_template_content = $("#sms-template-content" + userNo);
            if (!expand) {
                that.removeClass("sms-template-collapse");
                that.addClass("sms-template-expand");
                var templates = CM_Components.dictByCode("SMS_TEMPLATE");
                expand = true;
                if (!templates) {
                    console.error("没有短信模板");
                    return;
                }
                var content;

                for (var i = 0; i < templates.length; i++) {
                    content = templates[i].name;
                    $sms_template_content.append("<p title='" + content + "'>" + content + "</p>");
                }
                // 选择模板
                $("#sms-template-content" + userNo + ">p").click(function () {
                    var $this = $(this);
                    var content = $this.html();
                    var $sms_template = $("#sms-template" + userNo + ">p");
                    $sms_template.html(content);
                    $sms_template.attr("title", content);
                    that.removeClass("sms-template-expand");
                    that.addClass("sms-template-collapse");
                    expand = false;
                    $sms_template_content.html("");
                });
            } else {
                that.removeClass("sms-template-expand");
                that.addClass("sms-template-collapse");
                expand = false;
                $sms_template_content.html("");
            }
        });

        var $sms_send_modal = $("#sms-send-modal" + userNo);
//        $sms_send_modal.modal('show');
        $("#cmmp_circle_sms_btn" + userNo).click(function () {
            $sms_send_modal.modal('show');
        });

        $("#sms-send-submit-btn" + userNo).click(function () {
            var smsTemplate;
            smsTemplate = $("#sms-template" + userNo + ">p").html();
            if (smsTemplate === '选择模板') {
                CM_Components.layerMsg("请选择短信模板！");
                return;
            }
            var params = {"userNo": userNo, "content": smsTemplate};

            var list = $customer_sms_task_list.find("input[type='checkbox']");

            var tasks = [], smsTask;

            if (list) {
                var $that, $taskId;
                for (var i = 0; i < list.length; i++) {
                    $that = $(list[i]);
                    if ($that.is(":checked")) {
                        smsTask = {};
                        $taskId = $that.next();
                        smsTask["id"] = $taskId.val();
                        smsTask["taskName"] = $taskId.next().find(".customer-mobile-task-name").html();
                        tasks.push(smsTask);
                    }
                }
            }
            if (tasks && tasks.length > 0) {
                params["tasks"] = tasks;
            }
            console.log(params);
            $.ajax({
                url: CM_Components.getContextAll("/sms/sendSmsByTemplate"),
                type: "POST",
                async: false,
                contentType: 'application/json',
                data: JSON.stringify(params),
                success: function (responseJson) {
                    if (responseJson.success == true) {
                        CM_Components.layerMsg("发送成功！");
                    } else {
                        CM_Components.layerMsg("发送失败");
                    }
                    $sms_send_modal.modal('hide');
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    CM_Components.layerMsg("发送失败！");
                }
            });
        });
    })();
</script>