<div class="container row" style="width: 100%;">
    <div class="form-unit">基本信息</div>
    <form class="form-horizontal" id="cmmg_task_edit_form">
        <input type="hidden" name="id" th:value="${task!=null?task.id:''}"/>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">任务名称&nbsp;:</label>
                    <div class="col-md-8">
                        <input th:value="${task!=null?task.taskName:''}" type="text" name="taskName"
                               class="form-control" required></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">任务类型&nbsp;:</label>
                    <div class="col-md-8">
                        <input th:value="${task!=null?task.taskType:''}" type="text" name="taskType"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">开始时间&nbsp;:</label>
                    <div class="col-md-8">
                        <div class="input-group date form_datetime search-date">
                            <!--<input th:value="${task!=null?task.beginDate:''}" type="text" name="beginDate" class="form-control">-->
                            <input th:value="${task!=null and task.beginDate!=null}?${#dates.format(task.beginDate, 'yyyy-MM-dd')}:''"
                                   type="text" name="beginDate" class="form-control">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">结束时间&nbsp;:</label>
                    <div class="col-md-8">
                        <div class="input-group date form_datetime search-date">
                            <!--<input th:value="${task!=null?task.endDate:''}" type="text" name="endDate" class="form-control">-->
                            <input th:value="${task!=null and task.endDate!=null}?${#dates.format(task.endDate, 'yyyy-MM-dd')}:''"
                                   type="text" name="endDate" class="form-control">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4">备注&nbsp;：</label>
                    <div class="col-md-8 col-sm-8">
                        <textarea th:text="${task!=null?task.remarks:''}" name="remarks"
                                  class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row form-buttons">
        <div class="col-xs-7"></div>
        <div class="col-xs-5">
            <button id="cpmg_task_edit_btn" type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;提交
            </button>
            <button onclick="CommonUtils.closeTab('task_edit')" type="button" class="btn btn-danger btn-sm"><i
                    class="fa fa-close"></i>&nbsp;关闭
            </button>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {

        var $cmmg_task_edit_form = $("#cmmg_task_edit_form");
        $cmmg_task_edit_form.bootstrapValidator({
            fields: {
                taskName: {
                    validators: {
                        notEmpty: {
                            message: '任务名称不能为空'
                        }
                    }
                }/*, beginDate: {
                    validators: {
                        notEmpty: {
                            message: '任务开始时间不能为空'
                        }
                    }
                }, endDate: {
                    validators: {
                        notEmpty: {
                            message: '任务结束时间不能为空'
                        }
                    }
                }*/
            }
        }).on("success.form.bv", function (e) {
            // Get the form instance
            var params = $(e.target).serialize();
            var reqUrl = CM_Components.getContextAll("/task/manage/profile");

            $.post(reqUrl, params, function (result) {
                CommonUtils.closeTab('task_edit');
                CM_Components.refreshTable($("#cmmg_task_table"));
            }, 'json');
        });

        $("#cpmg_task_edit_btn").click(function () {
            $cmmg_task_edit_form.submit();
        });

        $('.search-date').datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            autoclose: true,
            minView: 2
        });
    });
</script>
