<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*
 title：页面要显示的标题
*/-->
<head th:fragment="commonHeader(title)">
    <title th:text="${title}"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/global/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/global/plugins/bootstrap-sweetalert/sweetalert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css" />
    <link th:href="@{assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/global/css/bms-custom.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/layouts/layout2/css/layout.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{assets/layouts/layout2/css/themes/blue.min.css}" rel="stylesheet" type="text/css" id="style_color" />
</head>
</html>
