<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="overflow: hidden">
<div class="center-block" style="text-align: center">
    <h1>中通天鸿Wincall Demo演示系统</h1>
</div>

<div class="row" style="padding-left: 5px;padding-right: 5px;">
    <div class="col-lg-1"></div>
    <div class="col-lg-7 col-md-9">
        <div id="buttons" class="row" style="margin-bottom: 10px">
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_login" >签入</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_logout" disabled>注销</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_unbusy" disabled>置闲</button></div>
            <div id="busyDiv" class="col-lg-2 col-md-2" style="margin-bottom: 5px">
                <button class="btn btn-primary btn-block" id="btn_busy" disabled>置忙</button>
            </div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_hold" disabled>保持</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_restore" disabled>恢复</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_dialinner" disabled>呼叫坐席</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_dialouter" disabled>呼叫外线</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_hangup" disabled>挂断</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_consultinner" disabled
            >咨询内线</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_consultouter" disabled
            >咨询外线</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_consultback"  disabled>咨询接回</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_threeway"  disabled>三方</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_threewayback" disabled>三方接回</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_transfer" disabled >转接</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_evaluate" disabled>转评价</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_chanspy" disabled>监听</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_breakin" disabled>强插</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_intercept" disabled>拦截</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_enable_autocall" disabled>进入自动外呼</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_disable_autocall" disabled>退出自动外呼</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_transivr" disabled>转IVR</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_transque" disabled>转技能组</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_transvccque" disabled>转企业技能组</button></div>
            <div class="col-lg-2 col-md-2" style="margin-bottom: 5px"><button class="btn btn-primary btn-block" id="btn_blindtrans" disabled>盲转</button></div>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <button id="init" type="button" class="btn btn-success btn-block">配置完参数后点击该按钮进行初始化，若需要修改参数，则需要刷新页面重新配置</button>
            </div>
            <div class="form-group">
                <label for="serverip" class="col-sm-2 control-label">服务器IP: </label>
                <div class="col-sm-4">
                    <input id="serverip" name="serverip" class="form-control" value="" />
                </div>
                <label for="wintelapi_url" class="col-sm-2 control-label">服务器接口地址: </label>
                <div class="col-sm-4">
                    <input id="wintelapi_url" name="wintelapi_url" class="form-control" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="vccCode" class="col-sm-2 control-label">企业代码：</label>
                <div class="col-sm-4">
                    <input id="vccCode" name="vccCode" class="form-control" value="wintel" size="6">
                </div>
                <label for="agentNum" class="col-sm-2 control-label">坐席工号: </label>
                <div class="col-sm-4">
                    <input id="agentNum" name="agentNum" class="form-control" value="1001" size="6">
                </div>
            </div>
            <div class="form-group">
                <label for="agentPass" class="col-sm-2 control-label">坐席密码：</label>
                <div class="col-sm-4">
                    <input id="agentPass" name="agentPass" class="form-control" value="123456" size="6">
                </div>
                <label for="agentPhone" class="col-sm-2 control-label">坐席分机: </label>
                <div class="col-sm-4">
                    <input id="agentPhone" name="agentPhone" class="form-control" value="8001" size="6">
                </div>
            </div>
            <div class="form-group">
                <label for="callerid" class="col-sm-2 control-label">外呼时显示的主叫号码: </label>
                <div class="col-sm-4">
                    <select id="callerid" name="callerid" class="form-control"></select>
                </div>
                <label for="called" class="col-sm-2 control-label">外线号码：</label>
                <div class="col-sm-4">
                    <input id="called" name="called" class="form-control" value="" placeholder="呼叫外线，咨询外线，盲转时的号码" size="20">
                </div>
            </div>
            <div class="form-group">
                <label for="groupid" class="col-sm-2 control-label">外呼时使用的技能组：</label>
                <div class="col-sm-4">
                    <select id="groupid" class="form-control"></select>
                </div>
                <label for="proid" class="col-sm-2 control-label">自动外呼项目ID: </label>
                <div class="col-sm-4">
                    <input id="proid" name="proid" value="" placeholder="自动外呼的项目ID，非自动外呼情况无需使用"  class="form-control" size="20">
                </div>
            </div>
            <div class="form-group">
                <label for="seat_state" class="col-sm-2" style="text-align: right">座席状态：</label>
                <div class="col-sm-2"><span id="seat_state" class="label label-success"></span></div>
                <label for="queue_state" class="col-sm-2" style="text-align: right">队列状态：</label>
                <div class="col-sm-2"><span id="queue_state" class="label label-success"></span></div>
                <label for="obj_content" class="col-sm-2" style="text-align: right">状态消息：</label>
                <div class="col-sm-2"><span id="obj_content" class="label label-info"></span></div>
            </div>
        </form>
    </div>
    <div class="col-lg-3 col-md-3">
        <label for="message" style="display: none"></label>
        <textarea id="message" rows="26" style="width: 100%"></textarea>
    </div>
    <div class="col-lg-1"></div>
</div>

<div id="free-agent-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择呼叫的坐席</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>工号</th>
                        <th>名称</th>
                        <th>分机号</th>
                    </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="online-agent-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择通话中的坐席</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>分机号</th>
                        <th>通话时长</th>
                    </tr>
                    </thead>
                    <tbody id="online-agent-tbody"></tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="queue-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择转接的技能组</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>技能组名称</th>
                        <th>企业代码</th>
                    </tr>
                    </thead>
                    <tbody id="queue-tbody"></tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script th:src="@{/assets/module/call/socket.io.js}" language="JavaScript"></script>
<script th:src="@{/assets/module/call/jquery.wincall.v2.js}" language="javascript"></script>
<script th:src="@{/assets/module/call/jquery.md5.js}" language="javascript"></script>
<script language="JavaScript">
    var PHONETYPE = '';
    var busy_reasons = {};
    var wincall = null;
    $(document).ready(function (){
        var sockeIsLogin = false;
        var $serverip = $('#serverip');
        var $vccCode = $('#vccCode');
        var $wintelapi_url = $('#wintelapi_url');

        // 设置表单中的内容
        if (window.localStorage) {
            $vccCode.val(window.localStorage.getItem('vccCode'));
            $serverip.val(window.localStorage.getItem('wintel_server_ip'));
            $wintelapi_url.val(window.localStorage.getItem('wintelapi_url'));
            $('#agentNum').val(window.localStorage.getItem('agentNum'));
            $('#agentPhone').val(window.localStorage.getItem('agentPhone'));
            $('#agentPass').val(window.localStorage.getItem('agentPass'));
        }

        // 初始化连接
        $('#init').on('click', function () {
            var wintel_server_ip = $serverip.val();
            var vccCode = $vccCode.val();
            var wintelapi_url = $wintelapi_url.val();
            wincall = new WinCall({
                wintel_server_ip: wintel_server_ip,
                wintel_server_port: '6050',
                wintelapi_url: wintelapi_url,
                vcc_code: vccCode,
                busy_reasons: busy_reasons,
                debug: true,
                event_listener: eventListener
            });
            wincall.init();
            sockeIsLogin = true;
            $('#buttons').removeClass('hidden');
            $('#btn_login').removeAttr('disabled');
            $(this).hide();

            // 获取企业配置的置忙原因
            $.ajax({
                url: wincall.opts.wintelapi_url+'/v2/wintelapi/api/busyreason/list',
                data: {vcc_code: wincall.opts.vcc_code},
                dataType: 'jsonp',
                timeout: 5000,
                async: false,
                jsonp: 'jsonpcallback',
                success: function (response) {
                    var resCode = response.code || '';
                    if (resCode == 200) {
                        $.each(response.data, function (index, value) {
                            busy_reasons[value.id] = value.stat_reason;
                        });
                    } else {
                        wincall.log(response);
                    }
                }
            });

            // 记录登录的信息
            if (window.localStorage) {
                window.localStorage.setItem('wintel_server_ip', wintel_server_ip);
                window.localStorage.setItem('wintelapi_url', wintelapi_url);
                window.localStorage.setItem('vccCode', vccCode);
            }
        });

        $('#disconnect').on('click', function() {
            wincall.disconnect();
        });

        //登录
        $('#btn_login').click(function(){
            var $agpass = $('#agentPass');
            var agentNum = $('#agentNum').val();
            var agentPass = $.md5($agpass.val());
            var agentPhone = $('#agentPhone').val();
            wincall.fn_login(agentNum,agentPass,agentPhone,1,0);

            // 处理置忙原因
            if (!$.isEmptyObject(busy_reasons)) {
                var $busyDiv = '<div class="btn-group btn-block">' +
                    '<button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" id="btn_busy" disabled>置忙 <span class="caret"></span> </button>' +
                    ' <ul id="busy_reason_list" class="dropdown-menu">';
                $.each(busy_reasons, function (index, value) {
                    $busyDiv += '<li><a name="btn_busy_detail" id="'+index+'" href="#">'+value+'</a></li>';
                });
                $busyDiv +=	'</ul></div>';
                $('#busyDiv').html($busyDiv);
                $('a[name=btn_busy_detail]').on('click', function () {
                    wincall.fn_busy($(this).attr('id'));
                });
            } else {
                $('#btn_busy').click(function (){
                    wincall.fn_busy(1);
                });
            }

            // 记录登录的信息
            if (window.localStorage) {
                window.localStorage.setItem('agentNum', agentNum);
                window.localStorage.setItem('agentPass', $agpass.val());
                window.localStorage.setItem('agentPhone', agentPhone);
            }
        });

        //注销
        $('#btn_logout').click(function (){
            sockeIsLogin = false;
            wincall.fn_logout();
        });

        //示闲
        $('#btn_unbusy').click(function (){
            wincall.fn_unbusy();
        });

        //保持
        $('#btn_hold').click(function (){
            wincall.fn_hold();
        });

        //恢复
        $('#btn_restore').click(function (){
            wincall.fn_restore();
        });

        //呼叫内线
        $('#btn_dialinner').click(function (){
            var callerid = $('#callerid').val();
            $.ajax({
                url: wincall.opts.wintelapi_url+'/v2/wintelapi/api/agent/free',
                data: {vcc_code: wincall.opts.vcc_code},
                dataType: 'jsonp',
                timeout: 5000,
                async: false,
                jsonp: 'jsonpcallback',
                success: function (response) {
                    var resCode = response.code || '';
                    if (resCode == 200) {
                        var resData = response.data || {};
                        var $tbody = $('#tbody');
                        $tbody.empty();
                        $.each(resData, function (index, value) {
                            if (value.ag_num != wincall.loginInfo.agentNum) {
                                var $tr = $('<tr><td>'+value.ag_id+'</td><td>'+value.ag_num+'</td><td>'+value.ag_name+'</td><td>'+value.pho_num+'</td></tr>');
                                $tbody.append($tr);
                                $tr.on('click', function () {
                                    wincall.fn_dialinner(value.ag_id,callerid);
                                    $('#free-agent-modal').modal('hide');
                                });
                            }
                        });
                    } else {
                        wincall.log(response);
                    }
                }
            });
            $('#free-agent-modal').modal({});
        });

        //呼叫外线
        $('#btn_dialouter').click(function (){
            var callerid = $('#callerid').val();
            var groupid = parseInt($('#groupid').val());
            var called = $('#called').val();
            var outchan = parseInt($('#outchan').val());
            wincall.fn_dialouter(called,callerid,groupid,outchan);
        });

        //挂断
        $('#btn_hangup').click(function (){
            wincall.fn_hangup();
        });
        //挂断
        $('#btn_answer').click(function (){
            wincall.fn_answer();
        });

        //咨询内线
        $('#btn_consultinner').click(function (){
            $.ajax({
                url: wincall.opts.wintelapi_url+'/v2/wintelapi/api/agent/free',
                data: {vcc_code: wincall.opts.vcc_code},
                dataType: 'jsonp',
                timeout: 5000,
                async: false,
                jsonp: 'jsonpcallback',
                success: function (response) {
                    var resCode = response.code || '';
                    if (resCode == 200) {
                        var resData = response.data || {};
                        var $tbody = $('#tbody');
                        $.each(resData, function (index, value) {
                            $tbody.empty();
                            if (value.ag_num != wincall.loginInfo.agentNum) {
                                var $tr = $('<tr><td>'+value.ag_id+'</td><td>'+value.ag_num+'</td><td>'+value.ag_name+'</td><td>'+value.pho_num+'</td></tr>');
                                $tbody.append($tr);
                                $tr.on('click', function () {
                                    wincall.fn_consultinner(value.ag_id);
                                    $('#free-agent-modal').modal('hide');
                                });
                            }
                        });
                    } else {
                        wincall.log(response);
                    }
                }
            });
            $('#free-agent-modal').modal({});
        });

        //咨询外线
        $('#btn_consultouter').click(function (){
            var called = $('#called').val();
            wincall.fn_consultouter(called);
        });
        //咨询接回
        $('#btn_consultback').click(function (){
            wincall.fn_consultback();
        });

        //三方
        $('#btn_threeway').click(function (){
            wincall.fn_3way();
        });

        //三方接回
        $('#btn_threewayback').click(function (){
            wincall.fn_3wayback();
        });

        //转接
        $('#btn_transfer').click(function (){
            wincall.fn_transfer();
        });

        //监听
        $('#btn_chanspy').click(function (){
            $.ajax({
                url: wincall.opts.wintelapi_url+'/v2/wintelapi/api/agent/ontheline',
                data: {vcc_code: wincall.opts.vcc_code},
                dataType: 'jsonp',
                timeout: 5000,
                async: false,
                jsonp: 'jsonpcallback',
                success: function (response) {
                    var resCode = response.code || '';
                    if (resCode == 200) {
                        var resData = response.data || {};
                        var $tbody = $('#online-agent-tbody');
                        $tbody.empty();
                        $.each(resData, function (index, value) {
                            var $tr = $('<tr><td>'+value.ag_id+'</td><td>'+value.pho_num+'</td><td>'+value.ag_time+'</td></tr>');
                            $tbody.append($tr);
                            $tr.on('click', function () {
                                wincall.fn_chanspy(value.ag_id);
                                $('#online-agent-modal').modal('hide');
                            });
                        });
                    } else {
                        wincall.log(response);
                    }
                }
            });
            $('#online-agent-modal').modal({});
        });

        //强插
        $('#btn_breakin').click(function (){
            wincall.fn_breakin();
        });

        //拦截
        $('#btn_intercept').click(function (){
            wincall.fn_intercept();
        });

        //转满意度
        $('#btn_evaluate').click(function (){
            wincall.fn_evaluate();
        });

        //自动外呼进入
        $('#btn_enable_autocall').click(function (){
            var proid = parseInt($('#proid').val());
            wincall.fn_autocallin(proid);
        });
        //自动外呼退出
        $('#btn_disable_autocall').click(function (){
            wincall.fn_autocallout();
        });

        //发送dtmf码
        $('#callnum').on('keyup', function(){
            var num = $('#callnum').val();
            var dtmf = num.charAt(num.length - 1);
            wincall.fn_dtmf(dtmf);
        });
        //转IVR
        $('#btn_transivr').click(function(){
            wincall.fn_transivr();
        });
        //转技能组
        $('#btn_transque').click(function(){
            $.ajax({
                url: wincall.opts.wintelapi_url+'/v2/wintelapi/api/jsonp/queue/list',
                data: {vcc_code: wincall.opts.vcc_code},
                dataType: 'jsonp',
                timeout: 5000,
                async: false,
                jsonp: 'jsonpcallback',
                success: function (response) {
                    var resCode = response.code || '';
                    if (resCode == 200) {
                        var resData = response.data || {};
                        var $tbody = $('#queue-tbody');
                        $tbody.empty();
                        $.each(resData, function (index, value) {
                            var $tr = $('<tr><td>'+value.id+'</td><td>'+value.que_name+'</td><td>'+(value.vcc_code || $vccCode.val())+'</td></tr>');
                            $tbody.append($tr);
                            $tr.on('click', function () {
                                wincall.fn_transque(value.id);
                                $('#queue-modal').modal('hide');
                            });
                        });
                    } else {
                        wincall.log(response);
                    }
                }
            });
            $('#queue-modal').modal({});
        });
        //转企业技能组
        $('#btn_transvccque').click(function(){
            $.ajax({
                url: wincall.opts.wintelapi_url+'/v2/wintelapi/api/jsonp/queue/list',
                data: {vcc_code: wincall.opts.vcc_code},
                dataType: 'jsonp',
                timeout: 5000,
                async: false,
                jsonp: 'jsonpcallback',
                success: function (response) {
                    var resCode = response.code || '';
                    if (resCode == 200) {
                        var resData = response.data || {};
                        var $tbody = $('#queue-tbody');
                        $tbody.empty();
                        $.each(resData, function (index, value) {
                            var $tr = $('<tr><td>'+value.id+'</td><td>'+value.que_name+'</td><td>'+(value.vcc_code || $vccCode.val())+'</td></tr>');
                            $tbody.append($tr);
                            $tr.on('click', function () {
                                wincall.fn_transvccque(value.id, value.vcc_id);
                                $('#queue-modal').modal('hide');
                            });
                        });
                    } else {
                        wincall.log(response);
                    }
                }
            });
            $('#queue-modal').modal({});
        });
        //盲转
        $('#btn_blindtrans').click(function(){
            var called = $('#called').val();
            var callerid = $('#callerid').val();
            wincall.fn_bindtrans(called, callerid);
        });
    });

    function eventListener(response) {
        var $message = $('#message');
        if (response.agStatus) {
            $('#seat_state').html(response.agStatus);
        }
        if (response.queStatus) {
            $('#queue_state').html(response.queStatus);
        }
        $('#obj_content').html(response.msg);
        $message.append(response.msg+"\r\n");

        $.each(response.disableActions, function (index, value) {
            $('#btn_'+value).attr('disabled', 'disabled');
        });

        $.each(response.enableActions, function (index, value) {
            $('#btn_'+value).removeAttr('disabled');
        });

        switch (response.type) {
            case 'login_action':
                //设置技能组
                var ag_ques = wincall.fn_get_que();
                var $groupid = $('#groupid');
                $groupid.empty();
                $.each(ag_ques, function (index,item) {
                    $groupid.append($('<option value="'+item+'">'+item+'</option>'))
                });
                // 设置主叫号码
                var ag_callers = wincall.fn_get_caller();
                var $callerid = $('#callerid');
                $callerid.empty();
                $.each(ag_callers, function (index,item) {
                    $callerid.append($('<option value="'+item+'">'+item+'</option>'))
                });
                break;
            case 'ring_queue_event'://技能组分配来电
                var $caller = wincall.fn_getParam('Caller');
                var $caller_areacode = wincall.fn_getParam('CallerAreaCode');
                var $caller_areaname = wincall.fn_getParam('CallerAreaName');
                $message.append($caller+'['+$caller_areacode+'-'+$caller_areaname+ ']'+'来电\r\n');
                /**
                 * 直接调用应答函数
                 * 需要注意的是来电时有两个需要应答，一个是wincall中需要应答，
                 * 还有一个是软电话或者PSTN电话也需要应答，那么这样就可能导致操作的不方便，
                 * 因为wincall中的JS SDK是无法控制软电话和PSTN电话的，所以来电后必须手动点击接听按钮，
                 * 如此情况下，我们就在来电事件中自动调用wincall中的应答函数，这样就只需要手动点击
                 * 软电话或PSTN电话接听按钮就可以了，不需要两个都去点击接听
                 */
                wincall.fn_answer();
                /**
                 * 自定义来电的操作，可以实现弹屏的功能，例如弹出一个页面，将主叫的信息传递到页面中
                 * 实现自定义的查询功能，如根据主叫来电查询对应的客户信息等
                 */
                // 实现代码...
                break;
            case 'ring_outbound_event'://外呼来电中
                var called = wincall.fn_getParam('Called');
                var CallerAreaCode = wincall.fn_getParam('CallerAreaCode');
                var CallerAreaName = wincall.fn_getParam('CallerAreaName');
                $message.append('呼叫外线号码'+called+'['+CallerAreaCode+'-'+CallerAreaName+']\r\n');
                break;
            case 'call_afterwards_event'://事后处理
                var $call_afterwards_secs = wincall.fn_getParam('CallAfterwardsSecs');
                $message.append('事后处理时长为['+$call_afterwards_secs+']\r\n');
                break;
            case 'system_busy_event'://系统置忙
                var $busy_reason = wincall.fn_getParam('BusyReason');
                $message.append('具体置忙原因为['+$busy_reason+']\r\n');
                break;
            case 'update_queue_event'://更新技能组
                ag_ques = wincall.fn_get_que();
                $groupid = $('#groupid');
                $groupid.empty();
                $.each(ag_ques, function (index,item) {
                    $groupid.append($('<option value="'+item+'">'+item+'</option>'))
                });
                break;
            case 'update_caller_event'://更新主叫号码
                ag_callers = wincall.fn_get_caller();
                $callerid = $('#callerid');
                $callerid.empty();
                $.each(ag_callers, function (index,item) {
                    $callerid.append($('<option value="'+item+'">'+item+'</option>'))
                });
                break;
        }
    }
</script>
</body>
</html>
