<!DOCTYPE html>
<html lang="en"><!--<![endif]--><!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <title>Metronic | Login Options - Login Form 2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description">
    <meta content="" name="author">

    <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet"
          type="text/css"/>
    <!--<link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/bootstrap-sweetalert/sweetalert.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"/>
    <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/css/cm-custom.css}" rel="stylesheet" type="text/css"/>
    <!--<link th:href="@{/assets/layouts/layout2/css/layout.min.css}" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{/assets/layouts/layout/css/layout.css}" rel="stylesheet" type="text/css"/>
    <!-- 主题 -->
    <link th:href="@{/assets/layouts/layout/css/themes/default.min.css}" rel="stylesheet" type="text/css"
          id="style_color"/>
    <style type="text/css">
        .content {
            background-color: rgba(150, 162, 176, 0.42);
            width: 360px;
            margin: 0 auto;
            /*margin-bottom: 0px;*/
            padding: 30px;
            padding-top: 20px;
            padding-bottom: 15px;
        }
    </style>
    <script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
</head>

<body style="">
<!-- BEGIN LOGO -->
<!--<div class="logo">
    <a href="index.html">
        <img src="../../assets/admin/layout/img/logo-big.png" alt="">
    </a>
</div>-->
<div style="margin-top: 100px;"></div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="index.html" method="post" novalidate="novalidate">
        <h3 class="form-title">Login to your account</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>
			Enter any username and password. </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username"
                       name="username">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password"
                       name="password">
            </div>
        </div>
        <div class="form-actions">
            <label class="checkbox">
                <div class="checker"><span><input type="checkbox" name="remember" value="1"></span></div>
                记住密码 </label>
            <button type="submit" class="btn blue pull-right">
                Login <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
        <div class="forget-password">
            <h4>忘记密码?</h4>
            <p>
                不用担心, 点击 <a href="javascript:;" id="forget-password">
                这里 </a>
                重置你的密码.
            </p>
        </div>
        <div class="create-account">
            <p>
                还没有账户?&nbsp; <a href="javascript:;" id="register-btn">
                创建账号 </a>
            </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<!--<div class="copyright">
    2014 © Metronic - Admin Dashboard Template.
</div>-->

<div class="backstretch"
     style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; z-index: -999999; position: fixed; width: 1588px; height: 259px;">
    <img th:src="@{/assets/global/img/1.jpg}"
         style="position: absolute; margin: 0px; padding: 0px; border: none; max-height: none; max-width: none; z-index: -999999; width: 100%; height: 100%; left: 0px;">
</div>
<script type="application/javascript">
    (function () {
        $(".backstretch").height($(window).height());
    })();
</script>
</body>
</html>