<div class="container row" style="width: 100%;">
    <div class="col-md-12">
        <div class="todo-sidebar">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">组织架构 </span>
                    </div>
                    <div class="actions">
                        <!--<a class="btn btn-circle btn-outline purple "> 刷新 </a>-->
                    </div>
                </div>
                <div class="portlet-body" style="height: auto;">
                    <ul class="ztree" id="depTree"></ul>
                </div>
            </div>
        </div>
        <div class="todo-content">

        </div>

    </div>
</div>
<script type="text/javascript" src="assets/global/plugins/zTree/js/jquery.ztree.all.js"></script>
<script type="text/javascript" src="assets/system/dep/dep.js"></script>
<script>
    jQuery(document).ready(function () {
        Dep.initDepMain();
    });
</script>