<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"/>
    <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/zTree/css/metroStyle/metroStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/css/cm-custom.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
</head>
<body>
<!-- 部门tree -->
<ul class="ztree" id="alertDeptTree"></ul>

<script th:src="@{/assets/global/scripts/cm-components.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/scripts/common-utils.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/zTree/js/jquery.ztree.all.js}" type="text/javascript"></script>

<script>
    var $depTree;
    var initDepTree = function () {
        var depData;
        $.ajax({
            type: "GET",
            cache: false,
            async:false,
            url: CM_Components.getContextAll("/dep/json/list"),
            success: function (responseJson) {
                if (responseJson.success) {//成功
                    depData = responseJson.obj;
                } else {
                    CM_Components.layerMsg(responseJson.msg)
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                CM_Components.layerMsg("获取部门数据出错,系统错误!!!")
            }
        });

        //初始化树的配置参数
        var setting = {
            /*view: {
                showLine: true,
//                addHoverDom: addHoverDom,
//                removeHoverDom: removeHoverDom,
                selectedMulti: false
            },*/
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "parentId",
                    rootPId: "1"
                },
                key: {
                    name: "depName"
                }
            },
            check: {
                enable: false,//在节点前显示checkbox
                chkboxType: {"Y": "", "N": ""}//父节点和字节不级联
            }/*,
            callback: {
                onClick: onZtreeClick,
                beforeEditName: onZtreeEditorClick,
                beforeRemove: onZTreeRemoveClick
            }*/
        };
        if (!$depTree) {//为空
            $depTree = $.fn.zTree.init($("#alertDeptTree"), setting, depData);
        }
        // 展开节点
        var nodes = $depTree.getNodes();
        if (nodes.length>0) {
//            var children=nodes[0].children;
//            for(var i=0;i<children.length;i++){
//                $depTree.expandNode(children[i], true, false, true);
//            }
            $depTree.expandNode(nodes[0], true, false, true);
        }
    }

    jQuery(document).ready(function () {
        initDepTree();
    });
    function selectDeptCode() {
        var nodes = $depTree.getSelectedNodes();
        if(nodes && nodes.length>0){
            return nodes[0];
        }
        return null;
    }
</script>
</body>
</html>