<div class="container row" th:if="${buttonPower !=null}">
    <div class="col-md-1 col-xs-2">
        <!--<button type="button" class="btn btn-sm btn-default"><i class="fa fa-filter"></i>&nbsp;查询</button>-->
        <button id="potential_customer_import_btn" type="button" class="btn btn-sm btn-default"
                th:if="${buttonPower !=null and buttonPower.uploadFile==true}"><i class="fa fa-upload"></i>&nbsp;导入
        </button>
    </div>
    <div class="col-md-1 col-xs-2">
        <!--<button type="button" class="btn btn-sm btn-default"><i class="fa fa-filter"></i>&nbsp;查询</button>-->
        <button id="potential_customer_export_btn" type="button" class="btn btn-sm btn-default"
                th:if="${buttonPower !=null and buttonPower.uploadFile==true}"><i class="fa fa-download"></i>&nbsp;导出
        </button>
    </div>
    <div class="col-md-1 col-xs-2" th:if="${buttonPower !=null and buttonPower.delete==true}">
        <button id="potential_delete_btn" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i>&nbsp;删除
        </button>
    </div>
</div>
<div id="potential_customer_import_form" class="container row" hidden="hidden"
     th:if="${buttonPower !=null and buttonPower.uploadFile==true}">
    <form enctype="multipart/form-data" method="post" style="margin-top: 13px;">
        <div class="row">
            <div class="col-md-3">
                <input id="customer_new_file_name" type="file" name="fileName">
            </div>
            <div class="col-md-2">
                <input id="customer_new_file_upload_btn" type="button" value="上传">
            </div>
        </div>
    </form>
</div>


<form class="form-horizontal" action="#" id="customer_new_searchForm" style="margin-top: 13px;">
    <div class="container row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-md-4">姓名&nbsp;<i class="fa fa-user"></i>&nbsp;:</label>
                <div class="col-md-8">
                    <input type="text" name="customerName" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-md-4">手机&nbsp;<i class="fa fa-mobile-phone"></i>&nbsp;:</label>
                <div class="col-md-8">
                    <input type="text" name="customerMobile" class="form-control"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label col-md-4">分批批次&nbsp;:</label>
                <div class="col-md-8">
                    <input type="text" name="batchNo" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="actions pull-left">
                <a id="customer_new_searchBtn" class="btn btn-sm btn-circle green btn-outline sbold">
                    <i class="fa fa-search"></i> 搜索 </a>
                <a onclick="CommonUtils.reset('customer_new_searchForm')"
                   class="btn btn-sm btn-circle green btn-outline sbold">
                    <i class="fa fa-print"></i> 重置 </a>
            </div>
        </div>
    </div>
</form>


<script type="application/javascript">

    function queryCustomer(val, record, index) {
        // id, title, tabUrl
//        return '<a onclick="customerIDClick(this,\''+record.userName+'\')" title="点击查看客户详情">'+val+'</a>';
        var id, title, tablUrl;
        id = record.customerMobile;
        title = "客户【" + val + "】";
        tablUrl = CM_Components.getContextAll("/customerNotNo/detail?customerName=" + val + "&customerMobile=" + id);
        return '<a onclick="CommonUtils.addTab(\'' + id + '\',\'' + title + '\',\'' + tablUrl + '\')" title="点击查看客户详情">' + val + '</a>';
    }

</script>

<table class="table table-striped table-bordered table-hover" data-form="customer_new_searchForm"
       id="customer_new_mobile_table">
    <thead>
    <tr>
        <th data-id-field="id" data-checkbox="true" th:if="${buttonPower !=null and buttonPower.delete==true}">id</th>
        <th data-field="customerName" data-formatter="queryCustomer">客户姓名</th>
        <th data-field="customerMobile">手机</th>
        <th data-field="createDate">分配时间</th>
        <th data-field="updateDate">更新时间</th>
        <th data-field="batchNo">分批批次</th>
        <th data-field="realName">销售员</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<script>
    (function () {

        var $potential_customer_import_form = $("#potential_customer_import_form");

        CM_Components.dictDataBinding("potential_customer_distribution_selector");

        // 导出
        $("#potential_customer_export_btn").click(function () {
            var params = CM_Components.getFormData("customer_new_searchForm");
            if (!params || !params["batchNo"]) {
                CM_Components.layerMsg("请选择分配批次");
                return;
            }

            var reqUrl = CM_Components.getContextAll("/customerNotNo/export")
            var form = $("<form></form>").attr("action", reqUrl).attr("method", "get");
            form.append($("<input></input>").attr("type", "hidden").attr("name", "batchNo").attr("value", params["batchNo"]));
            form.appendTo('body').submit().remove();
        });

        var importBtn = false;// 默认不显示
        $("#potential_customer_import_btn").click(function () {
            var $that = $(this);
            if (importBtn) {
                $potential_customer_import_form.hide();
                $that.html("<i class=\"fa fa-level-down\"></i>&nbsp;导入");
                importBtn = false;
            } else {
                $potential_customer_import_form.show();
                $that.html("<i class=\"fa fa-level-down\"></i>&nbsp;隐藏");
                importBtn = true;
            }
        });


        // 文件上传
        $("#customer_new_file_upload_btn").click(function () {

            var fileObj = document.getElementById("customer_new_file_name").files[0];
            if (typeof (fileObj) == "undefined" || fileObj.size <= 0) {
                CM_Components.layerMsg("请选择要导入excel文件");
                return;
            }
            var formFile = new FormData();
            formFile.append("file", fileObj); //加入文件对象

            var data = formFile;
            $.ajax({
                url: CM_Components.getContextAll("/customerNotNo/upload"),
                data: data,
                type: "Post",
                //dataType: "json",
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                success: function (result) {
                    $("#FileUpload").val("");
                    CM_Components.layerMsg("导入成功")
                },
                error: function (xhr, status, errorMsg) {
                    console.error(errorMsg);
                    CM_Components.layerMsg("导入失败");
                }
            });
            $("#customer_new_file_name").val("");
        });
    })();

</script>

<script>
    jQuery(document).ready(function () {


        var $customer_new_mobile_table = $("#customer_new_mobile_table");

        $("#customer_new_searchBtn").click(function () {
            $customer_new_mobile_table.bootstrapTable('refresh', {
                query: CommonUtils.getFormData("customer_new_searchForm")
            });
        });

        $("#potential_delete_btn").click(function () {

            var rows = $customer_new_mobile_table.bootstrapTable('getSelections');

            if (!rows || rows.length == 0) {
                CM_Components.layerMsg("请选择要删除的数据！");
                return;
            }

            swal({
                    title: "确定删除?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        var ids = [];

                        $.each(rows, function (i, obj) {
                            ids.push(obj.id);
                        });

                        var reqUrl = CM_Components.getContextAll("/customerNotNo/del");

                        $.ajax({
                            url: reqUrl,
                            type: "DELETE",
                            contentType: 'application/json',
                            data: JSON.stringify(ids),
                            // dataType: "json",
                            success: function (result) {
                                if (result) {
                                    if (result.success) {
                                        CM_Components.layerMsg(result.msg);
                                        $customer_new_mobile_table.bootstrapTable('refresh', {
                                            query: CM_Components.getFormData("potential_customer_import_form")
                                        });
                                    } else {
                                        CM_Components.layerMsg(result.msg);
                                    }
                                } else {
                                    CM_Components.layerMsg("删除失败");
                                }
                                $customer_new_mobile_table.bootstrapTable('refresh', {
                                    query: CM_Components.getFormData("cmmg_distribution_search_form")
                                });
                            }
                        });
                    }
                });
        });

        // 数据网格框架：bootstrap table
        $customer_new_mobile_table.bootstrapTable({
            // search: true,
            method: 'get',
            url: CM_Components.getContextAll("/customerNotNo/page/list"),
            cache: false,
            dataType: "json",
            striped: false,	 //使表格带有条纹
            sortable: true,
            pagination: true, //在表格底部显示分页工具栏
            pageSize: 10,
            pageNumber: 1,
            pageList: [10, 15, 20],
            idField: "id",
            showToggle: false,   //名片格式
            cardView: false,//设置为True时显示名片（card）布局
            singleSelect: false,//复选框只能选择一条记录
            search: false,//是否显示右上角的搜索框
            clickToSelect: true,//点击行即可选中单选/复选框
            sidePagination: "server",//表格分页的位置
            queryParamsType: "",
            strictSearch: true,
            showColumns: false,     //是否显示所有的列
            showRefresh: false,     //是否显示刷新按钮
            minimumCountColumns: 2,    //最少允许的列数
            responseHandler: function (res) {
                return {
                    "rows": res.dataList,
                    "total": res.total
                };
            },
            silent: true,  //刷新事件必须设置
            formatNoMatches: function () {  //没有匹配的结果
                return '无符合条件的记录';
            },
            rowStyle: function (row, index) {
                return {classes: "cursorHand"}
            }
        });
    });
</script>