<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--<head th:include="/common/common_head :: commonHeader('首页')"></head>-->
<head>
    <title th:text="后台管理"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" th:href="@{/assets/pages/img/finance-ico.png}" type="image/png"/>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/bootstrap-sweetalert/sweetalert.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css"/>
    <link th:href="@{/assets/global/css/plugins.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/css/cm-custom.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/layouts/layout/css/layout.css}" rel="stylesheet" type="text/css"/>
    <!-- 主题 -->
    <link th:href="@{/assets/layouts/layout/css/themes/darkblue-rtl.min.css}" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link th:href="@{/assets/global/plugins/bootstrapvalidator/css/bootstrapValidator.min.css}" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/global/plugins/bootstrap-addtabs/bootstrap.addtabs.css}" type="text/css"
          media="screen"/>
    <script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/global/plugins/bootstrapvalidator/js/bootstrapValidator.min.js}"
            type="text/javascript"></script>
    <script th:src="@{/assets/global/plugins/layDate/laydate.js}" type="text/javascript"></script>
    <script th:src="@{/assets/common/button-init.js}" type="text/javascript"></script>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo">
<div class="page-wrapper">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="index.html">
                    <!--<img src="assets/layouts/layout2/img/logo-default.png" alt="logo" class="logo-default"/>-->
                    <img src="assets/pages/img/logo.png" alt="logo" class="logo-default"/>
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <span></span>
                </div>
            </div>
            <div class="page-top">
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">

                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               data-close-others="true" aria-expanded="false">
                                <i class="icon-bell"></i>
                                <span class="badge badge-default" id="backlog-count"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="external">
                                    <h3>
                                        <!--<span class="bold">12 未解决</span> -->待办事项
                                    </h3>
                                    <!--<a href="page_user_profile_1.html">view all</a>-->
                                </li>
                                <li>
                                    <div class="slimScrollDiv"
                                         style="position: relative; overflow: hidden; width: auto; height: 250px;">
                                        <ul class="dropdown-menu-list scroller"
                                            style="height: 250px; overflow: hidden; width: auto;"
                                            data-handle-color="#637283" data-initialized="1">
                                            <li>
                                                <a href="javascript:;" id="task_prompt">
                                                    <!--<span class="time">10 mins</span>-->
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span><span id="a">查看新任务</span></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="slimScrollBar"
                                             style="background: rgb(99, 114, 131); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div>
                                        <div class="slimScrollRail"
                                             style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               data-close-others="true">
                                <img alt="" class="img-circle" th:src="@{${filePath}}"/>
                                <span class="username username-hide-on-mobile"> <shiro:principal
                                        type="com.base.user.model.UserBasic" property="name"/> </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a id="personalInfo" href="#">
                                        <i class="icon-user"></i>个人信息 </a>
                                </li>
                                <li>
                                    <a href="logout">
                                        <i class="icon-key"></i> 退出登录 </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse" id="cmmg_menu">
                <ul class="page-sidebar-menu" data-keep-expanded="false"
                    data-auto-scroll="true" data-slide-speed="200">
                    <!--<ul  class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">-->
                    <li th:attr="class=${function.functions}==null?nav-item:''" th:each="function,rowStat:${functions}">
                        <!-- data-addtab="userManager"  -->
                        <!-- 没有子菜单 -->
                        <a href="javascript:;" th:if="${function.functions}==null" class="nav-link nav-toggle"
                           data-ajax="true" th:attr="data-url=${function.url},data-addtab=${function.funCode}">
                            <!--<i class="icon-diamond" ></i>-->
                            <i th:attr="class=${function.icon}"></i>
                            <span class="title" th:text="${function.funName}"></span>
                            <span class="arrow"></span>
                        </a>

                        <!-- 有子菜单 -->
                        <a href="javascript:;" th:if="${function.functions}!=null" class="nav-link nav-toggle">
                            <!--<i class="icon-diamond" ></i>-->
                            <i th:attr="class=${function.icon}"></i>
                            <span class="title" th:text="${function.funName}"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu" th:if="${function.functions}!=null">
                            <!--<ul  th:attr="class=${function.functions}!=null?sub-menu:''">-->
                            <!--<li class="nav-item " th:each="function1,rowStat1:${function.functions}">-->
                            <li class="start active" th:each="function1,rowStat1:${function.functions}">
                                <a href="javascript:;" class="nav-link nav-toggle" data-ajax="true"
                                   th:attr="data-url=${function1.url},data-addtab=${function1.funCode}">
                                    <i th:attr="class=${function1.icon}"></i>
                                    <span class="title" th:text="${function1.funName}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content" style="background-color: white;">
                <!--<small>是一款企业级的后台基础框架,采用了最流行的技术,可以简单快速地开发出企业级的Web应用系统。在线人数: <span class="font-green-sharp" th:text="${onlineCount}"></span></small>-->
                <!--</h1>-->

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" style="background-color: white;" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                            <i class="icon-home"></i><span class="title">首页</span>
                        </a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="overflow: auto;background-color:white;">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="container" style="width: 100%;">
                            <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12 col-lg-offset-11 col-md-offset-11 col-sm-offset-6">
                                <div style="margin: 5px 0px;">
                                    <!--<i class="fa fa-refresh font-green"></i> 刷新-->
                                    <a id="home-refresh-btn" class="btn btn-circle green btn-outline sbold"><i
                                            class="fa fa-refresh"></i>&nbsp;刷新 </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat blue-madison">
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number" id="dashboard-nonAccessCustomerCount">
                                                0
                                            </div>
                                            <div class="desc">
                                                待回访客户总数
                                            </div>
                                        </div>
                                        <!--<a class="more" href="#">
                                            View more <i class="m-icon-swapright m-icon-white"></i>
                                        </a>-->
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat red-intense">
                                        <div class="visual">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number" id="dashboard-alreadyAccessCustomerCount">
                                                0
                                            </div>
                                            <div class="desc">
                                                已回访客户总数
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat green-haze">
                                        <div class="visual">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number" id="dashboard-yesterdayAccessCustomerCount">
                                                0
                                            </div>
                                            <div class="desc">
                                                昨日回访客户总数
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat purple-plum">
                                        <div class="visual">
                                            <i class="fa fa-globe"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number" id="dashboard-totalCount">
                                                0
                                            </div>
                                            <div class="desc">
                                                今日下单数
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat grey-cascade">
                                        <div class="visual">
                                            <i class="fa fa-superpowers"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number" id="dashboard-totalMoney">
                                                0(万)
                                            </div>
                                            <div class="desc">
                                                今日下单总额
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <div class="dashboard-stat yellow-gold">
                                        <div class="visual">
                                            <i class="fa fa-area-chart"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number" id="dashboard-averageMoney">
                                                0
                                            </div>
                                            <div class="desc">
                                                客单价
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/global/plugins/respond.min.js}"></script>
<script th:src="@{/assets/global/plugins/excanvas.min.js}"></script>
<script th:src="@{/assets/global/plugins/ie8.fix.min.js}"></script>
<script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap-table/bootstrap-table.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"
        type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/scripts/app.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/scripts/cm-components.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/scripts/common-utils.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/layer/layer.js}" type="text/javascript"></script>
<script type="text/javascript" th:src="@{/assets/global/plugins/bootstrap-addtabs/bootstrap.addtabs.js}"></script>
<script th:src="@{/assets/global/scripts/date-util.js}" type="text/javascript"></script>
<script th:src="@{/assets/layouts/layout/scripts/layout.js}" type="text/javascript"></script>
<script th:src="@{/assets/layouts/global/scripts/quick-sidebar.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/layouts/global/scripts/quick-nav.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/counterup/jquery.waypoints.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/counterup/jquery.counterup.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/horizontal-timeline/horizontal-timeline.js}" type="text/javascript"></script>
<script th:inline="javascript">

    jQuery(document).ready(function () {
        CM_Components.initIndexLeftMenu();
        var id = /*[[${session.userInfo.id}]]*/;
        $("#personalInfo").on("click", function () {
//            CM_Components.layerOpen("配置账户", '1000px', '650px', "user/profile/view/" + id + "?operator=-1");
            var reqUlr = CommonUtils.getContextAll("/user/personalInfo?id="+id);
            CommonUtils.addTab(id, "个人中心", reqUlr);
        });

//        var  es=new EventSource(CommonUtils.getContextAll("/message/notify"));
////        es.onopen = function () {
////            console.log("连接打开...");
////        }
////        es.onmessage=function (d) {
////            console.info("服务器推送数据：",d);
////        }
//        es.addEventListener("message",function (d) {
//            console.log(d["data"]);
//        });
    });
</script>
</body>
</html>