<div class="portlet-body form">
    <form id="bms-dept-edit-form" class="form-horizontal">
        <input type="hidden" name="id" th:value="${dept!=null?dept.id:''}">
        <div class="form-body">
            <div class="row">
                <div class="form-unit">基本信息</div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">上级部门</label>
                        <div class="col-md-7 col-sm-7">
                            <div class="input-group" id="bms-parent-dept">
                                <input type="text" th:value="${dept!=null?dept.parentName:''}" class="form-control"
                                       name="parentName" placeholder="请输入部门名称">
                                <input type="hidden" th:value="${dept!=null?dept.parentCode:''}" class="form-control"
                                       name="parentCode">
                                <span class="input-group-addon input-group-search"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">部门名称</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="deptName"
                                   th:value="${dept!=null?dept.deptName:''}"
                                   placeholder="请输入部门名称">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">部门编码</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="deptCode"
                                   th:value="${dept!=null?dept.deptCode:''}"
                                   placeholder="请输入部门编码">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">部门类型</label>
                        <div class="col-md-7 col-sm-7">
                            <select class="form-control" name="deptType">
                                <option value="company">公司</option>
                                <option value="dept">部门</option>
                                <option value="group">组</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">排序</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="number" class="form-control" name="treeSort"
                                   th:value="${dept!=null?dept.treeSort:''}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-unit">扩展信息</div>

                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">负责人</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="leader"
                                   th:value="${dept!=null?dept.leader:''}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">办公电话</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="phone" th:value="${dept!=null?dept.phone:''}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">联系地址</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="address"
                                   th:value="${dept!=null?dept.address:''}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">邮政编码</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="zipCode"
                                   th:value="${dept!=null?dept.zipCode:''}">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">电子邮箱</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="email" class="form-control" name="email"
                                   th:value="${dept!=null?dept.email:''}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">备注信息</label>
                        <div class="col-md-7 col-sm-7">
                            <textarea name="remarks" class="form-control" rows="2"
                                      th:text="${dept!=null?dept.remarks:''}"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div th:attr="id='bms-dept-edit-btn'+${tabId}" class="cm-footer-style">
                <a data-type="submit" data-url="/dept/profile" class="btn btn-sm green btn-outline sbold ">&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a data-type="reset" class="btn btn-sm purple btn-outline sbold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;清空&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a data-type="close" class="btn btn-sm red btn-outline sbold">&nbsp;&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
        </footer>
    </form>
</div>

<script th:src="@{/assets/system/dep/dep.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/scripts/tree-layer.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    jQuery(document).ready(function () {

        //Dep.initDeptProfile();

        var tabId = /*[[${tabId}]]*/
            $("#bms-dept-edit-btn" + tabId).formButtonInit({
                "bootstrapTable": "bms-dept-table",
                "tabId": tabId,
                "editForm": "bms-dept-edit-form"
            });

        $("#bms-parent-dept").treeLayer({
            "treeUrl": "/dept/tree/list"
        });
    });
</script>