<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dept.mapper.DepMapper">

    <resultMap id="depResultMap" type="com.base.dept.model.DepartmentVO">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="ACTIVE_FLAG" property="activeFlag" jdbcType="INTEGER"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="DEP_LEADER" property="depLeader" jdbcType="VARCHAR"/>
        <result column="DEP_NAME" property="depName" jdbcType="VARCHAR"/>
        <result column="DEP_TYPE" property="depType" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="ORDER_NUMBER" property="orderNumber" jdbcType="INTEGER"/>
        <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR"/>
        <result column="DEP_CODE" property="depCode" jdbcType="VARCHAR"/>
        <result column="CHECKED" property="checked"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID, ACTIVE_FLAG, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE,DEP_LEADER, DEP_NAME,
    DEP_TYPE, DESCRIPTION, ORDER_NUMBER, PARENT_ID,DEP_CODE
    </sql>


    <select id="selectDepZtreeData" resultMap="depResultMap">
        SELECT id,PARENT_ID,DEP_NAME,DEP_CODE,DEP_TYPE
        <if test="roleCode!=null and roleCode.length()>0">
            ,NVL2(r.ctrl_data,1,0) checked
        </if>
        FROM T_SYS_DEPT d
        <if test="roleCode!=null and roleCode.length()>0">
            left join (select ctrl_data
            From T_SYS_ROLE_DATA
            where role_code = #{roleCode} and ACTIVE_FLAG = 1) r
            on d.DEP_CODE = r.ctrl_data
        </if>
        WHERE  d.ACTIVE_FLAG = 1 ORDER BY d.ORDER_NUMBER ASC
    </select>

</mapper>