<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dept.mapper.DeptMapper">

    <resultMap id="depResultMap" type="com.base.dept.model.DepartmentVO">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR"/>
        <result column="DEPT_TYPE" property="deptType" jdbcType="VARCHAR"/>
        <result column="LEADER" property="leader" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="TREE_SORT" property="treeSort" jdbcType="INTEGER"/>
        <result column="PARENT_CODE" property="parentId" jdbcType="VARCHAR"/>
        <result column="DEPT_CODE" property="depCode" jdbcType="VARCHAR"/>
        <result column="CHECKED" property="checked"/>
        <result column="ACTIVE_FLAG" property="activeFlag" jdbcType="INTEGER"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    ID, ACTIVE_FLAG, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE,DEPT_LEADER, DEPT_NAME,
    DEPT_TYPE, DESCRIPTION, TREE_SORT, PARENT_CODE,DEPT_CODE
    </sql>


    <select id="selectDepZtreeData" resultMap="depResultMap">
        SELECT id,PARENT_CODE,DEPT_NAME,DEPT_CODE,DEPT_TYPE
        <if test="roleCode!=null and roleCode.length()>0">
            /*,NVL2(r.ctrl_data,1,0) checked*/
            ,if(r.ctrl_data is not null,1,0) checked
        </if>
        FROM T_SYS_DEPT d
        <if test="roleCode!=null and roleCode.length()>0">
            left join (select ctrl_data
            From T_SYS_ROLE_DATA
            where role_code = #{roleCode} and ACTIVE_FLAG = 1) r
            on d.DEPT_CODE = r.ctrl_data
        </if>
        WHERE d.ACTIVE_FLAG = 1 ORDER BY d.TREE_SORT ASC
    </select>


    <update id="updateByDeptCode" parameterType="com.base.dept.model.Department">
        UPDATE T_SYS_DEPT SET TREE_LEAF=#{treeLeaf,jdbcType=VARCHAR} WHERE DEPT_CODE=#{deptCode,jdbcType=VARCHAR}
    </update>

</mapper>