<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dept.mapper.DeptMapper">

    <resultMap id="depResultMap" type="com.base.dept.model.Department">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR"/>
        <result column="DEPT_TYPE" property="deptType" jdbcType="VARCHAR"/>
        <result column="LEADER" property="leader" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="TREE_SORT" property="treeSort" jdbcType="INTEGER"/>
        <result column="TREE_LEAF" property="treeLeaf" jdbcType="INTEGER"/>
        <result column="TREE_LEVEL" property="treeLevel" jdbcType="INTEGER"/>
        <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR"/>
        <result column="PARENT_NAME" property="parentName" jdbcType="VARCHAR"/>
        <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR"/>
        <result column="CHECKED" property="checked"/>
        <result column="ACTIVE_FLAG" property="activeFlag" jdbcType="INTEGER"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="TreeMap" type="com.common.model.TreeVO">
        <result column="DEPT_CODE" property="code" jdbcType="VARCHAR"/>
        <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR"/>
        <result column="DEPT_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="CHECKED" property="checked" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
      ID, ACTIVE_FLAG, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEPT_NAME,TREE_LEAF,TREE_LEVEL,DEPT_TYPE, TREE_SORT, PARENT_CODE,DEPT_CODE,PARENT_NAME
    </sql>

    <select id="queryTree" resultMap="TreeMap" parameterType="java.lang.String">
        /* select d.DEPT_CODE,d.PARENT_CODE,d.DEPT_NAME from T_SYS_DEPT d where d.ACTIVE_FLAG=1*/
        SELECT D.DEPT_CODE,D.PARENT_CODE,D.DEPT_NAME
        <if test="roleCode!=null and roleCode!=''">
            ,IF(RD.CTRL_DATA IS NOT NULL,1,0) CHECKED
        </if>
        FROM T_SYS_DEPT D
        <if test="roleCode!=null and roleCode!=''">
            LEFT JOIN (SELECT CTRL_DATA
            FROM T_SYS_ROLE_DATA R
            WHERE R.ACTIVE_FLAG = 1
            AND r.ROLE_CODE = #{roleCode,jdbcType=VARCHAR}) RD
            ON D.DEPT_CODE = RD.CTRL_DATA
        </if>
        WHERE D.ACTIVE_FLAG = 1 ORDER BY D.TREE_SORT ASC
    </select>


    <select id="selectByDepartment" resultMap="depResultMap" parameterType="com.base.dept.model.Department">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_SYS_DEPT d
        <trim prefix="where" prefixOverrides="and|or">
            <if test="deptName!=null and deptName.length()>0">
                and d.DEPT_NAME like '%${deptName}%'
            </if>
            <if test="deptCode!=null and deptCode.length()>0">
                and d.DEPT_CODE like '%${deptCode}%'
            </if>
            <if test="parentCode!=null and parentCode.length()>0">
                and d.PARENT_CODE = #{parentCode}
            </if>
            <if test="deptType!=null and deptType.length()>0">
                and d.dept_Type = #{deptType,jdbcType=VARCHAR}
            </if>
            and d.ACTIVE_FLAG = 1
        </trim>
    </select>


    <update id="updateByDeptCode" parameterType="com.base.dept.model.Department">
        UPDATE T_SYS_DEPT SET TREE_LEAF=#{treeLeaf,jdbcType=VARCHAR} WHERE DEPT_CODE=#{deptCode,jdbcType=VARCHAR}
    </update>

</mapper>