<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dict.mapper.DictMapper">
    <resultMap id="BaseResultMap" type="com.base.dict.model.DictVO">
        <id column="ID" property="id"/>
        <id column="CODE" property="code"/>
        <id column="NAME" property="name"/>
        <id column="MARKS" property="marks"/>
    </resultMap>

    <select id="selectByDictCode" resultMap="BaseResultMap">
      SELECT DD.ID,DD.CODE,DD.NAME FROM T_SYS_DATA_DICTIONARY DD WHERE DD.DICT_CODE=#{dictCode} AND  DD.ACTIVE_FLAG=1
    </select>

    <select id="selectByDict" resultMap="BaseResultMap" parameterType="com.base.dict.model.DictVO">
        SELECT DD.ID,DD.CODE,DD.NAME,DD.MARKS FROM T_SYS_DICTIONARY DD
        <trim prefix="where" prefixOverrides="or||and">
            DD.ACTIVE_FLAG=1
            <if test="code!=null and code.length()>0">
                AND DD.CODE=#{code}
            </if>
            <if test="name!=null and name.length()>0">
                AND DD.NAME LIKE '%${name}%'
            </if>
        </trim>
    </select>

</mapper>