<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dict.mapper.DictMapper">
    <resultMap id="BaseResultMap" type="com.base.dict.model.DictVO">
        <id column="ID" property="id"/>
        <id column="code" property="code"/>
        <id column="name" property="name"/>
        <id column="update_date" property="updateDate"/>
    </resultMap>

    <select id="selectByDictCode" resultMap="BaseResultMap">
      select dd.ID,dd.code,dd.name from T_SYS_DATA_DICTIONARY dd where dd.dict_code=#{dictCode} and  dd.active_flag=1
    </select>

    <select id="getProductName" resultMap="BaseResultMap">
        select PRODUCT_TYPE_ID AS "id", PRODUCT_TYPE_NAME AS "name", PRODUCT_TYPE_CODE AS "code"
        from T_PRODUCT_TYPE_KUAKE
        order by SEQ asc
    </select>


    <select id="selectByDict" resultMap="BaseResultMap" parameterType="com.base.dict.model.DictVO">
        select dd.ID,dd.code,dd.name,dd.update_date from T_SYS_DICTIONARY dd
        <trim prefix="where" prefixOverrides="or||and">
            dd.active_flag=1
            <if test="code!=null and code.length()>0">
                and dd.code=#{code}
            </if>
            <if test="name!=null and name.length()>0">
                and dd.name like '%${name}%'
            </if>
        </trim>
    </select>


    <update id="updateById" parameterType="com.base.dict.model.DictVO">
        UPDATE T_SYS_DICTIONARY
        <trim prefix="set" prefixOverrides=",">
            <if test="code!=null and code.length()>0">,CODE=#{code}</if>
            <if test="name!=null and name.length()>0">,NAME=#{name}</if>
            <if test="updateDate!=null">,UPDATE_DATE=#{updateDate}</if>
            <if test="updateBy!=null and updateBy.length()>0">,UPDATE_BY=#{updateBy}</if>
            <if test="marks!=null and marks.length()>0">,MARKS=#{marks}</if>
            <if test="activeFlag!=null">,ACTIVE_FLAG=#{activeFlag}</if>
        </trim>
        where id=#{id}
    </update>


</mapper>