<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.function.mapper.FunctionMapper">

    <resultMap id="FunctionResultMap" type="com.base.function.model.Function">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="ACTIVE_FLAG" property="activeFlag" jdbcType="INTEGER"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="FUN_CODE" property="funCode" jdbcType="VARCHAR"/>
        <result column="FUN_NAME" property="funName" jdbcType="VARCHAR"/>
        <result column="TREE_SORT" property="treeSort" jdbcType="INTEGER"/>
        <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR"/>
        <result column="FUN_HREF" property="url" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="FUN_ICON" property="icon" jdbcType="VARCHAR"/>
        <result column="TREE_LEAF" property="treeLeaf" jdbcType="INTEGER"/>
        <result column="TYPE" property="type" jdbcType="INTEGER"/>
        <result column="TREE_LEVEL" property="treeLevel" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="FunctionExtResultMap" type="com.base.function.model.FunctionExt" extends="FunctionResultMap">
    </resultMap>

    <resultMap id="FunctionTreeMap" type="com.common.model.TreeVO">
        <result column="FUN_CODE" property="code" jdbcType="VARCHAR"/>
        <result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR"/>
        <result column="FUN_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="CHECKED" property="checked" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="updateLeafByCode">
        UPDATE T_SYS_FUNCTION SET TREE_LEAF=#{treeLeaf,jdbcType=INTEGER} WHERE FUN_CODE=#{funCode,jdbcType=VARCHAR}
    </update>

    <select id="selectByCode" parameterType="java.lang.String" resultMap="FunctionResultMap">
       SELECT
        *
        FROM
        T_SYS_FUNCTION F
        WHERE  F.FUN_CODE=#{funCode,jdbcType=VARCHAR} AND F.ACTIVE_FLAG = 1
    </select>

    <select id="selectByFunction" resultMap="FunctionResultMap" parameterType="com.base.function.model.Function">
        SELECT
        *
        FROM
        T_SYS_FUNCTION F
        <trim prefix="where" prefixOverrides="and">
            <if test="funCode!=null and funCode!=''">
                AND F.FUN_CODE LIKE '%${funCode}%'
            </if>
            <if test="funName!=null and funName!=''">
                AND F.FUN_NAME LIKE '%${funName}%'
            </if>
            <if test="parentCode!=null and parentCode!=''">
                AND F.PARENT_CODE =#{parentCode,jdbcType=VARCHAR}
            </if>
            AND F.ACTIVE_FLAG = 1
        </trim>
    </select>

    <select id="queryFunctionTree" resultMap="FunctionTreeMap">
        SELECT F.FUN_CODE,F.PARENT_CODE,F.FUN_NAME
        <if test="roleCode!=null and roleCode!=''">
            /*,NVL2(r.function_code,1,0) checked*/
            ,if(r.function_code is not null,1,0) checked
        </if>
        FROM T_SYS_FUNCTION F
        <if test="roleCode!=null and roleCode!=''">
            LEFT JOIN (SELECT FUNCTION_CODE
            FROM T_SYS_ROLE_FUNCTION
            WHERE ACTIVE_FLAG = 1
            AND ROLE_CODE = #{roleCode}) R
            ON F.FUN_CODE = R.FUNCTION_CODE
        </if>
        WHERE F.ACTIVE_FLAG = 1 ORDER BY F.TREE_SORT ASC
    </select>

    <select id="selectByLoginName" resultMap="FunctionExtResultMap">
        select
        <include refid="Base_Column_List"/>
        From t_sys_function
        where PARENT_CODE=#{parentCode} and fun_code in
        (select function_code
        From T_SYS_role_function
        where role_code in (select role_code
        from T_SYS_user_role
        where login_name = #{loginName} )) and active_flag=1
        ORDER BY TREE_SORT ASC
    </select>

    <sql id="Base_Column_List">
        ID,FUN_CODE,FUN_NAME,PARENT_CODE,FUN_HREF,FUN_ICON,DESCRIPTION,TREE_LEAF,TREE_LEVEL,TYPE
    </sql>
</mapper>