<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.position.mapper.PositionMapper">
    <resultMap id="PositionResultMap" type="com.base.position.model.Position">
        <id column="ID" property="id"/>
        <id column="POSITION_CODE" property="positionCode"/>
        <id column="POSITION_NAME" property="positionName"/>
        <id column="MARKS" property="marks"/>
        <id column="CREATE_DATE" property="createDate"/>
        <id column="UPDATE_DATE" property="updateDate"/>
    </resultMap>

    <select id="selectPageList" parameterType="com.base.position.model.Position" resultMap="PositionResultMap">
        SELECT ID,POSITION_CODE,POSITION_NAME,MARKS,CREATE_DATE,UPDATE_DATE from T_SYS_POSITION
        <trim prefix="where" prefixOverrides="and|or">
            ACTIVE_FLAG = 1
            <if test="positionCode!=null and positionCode!=''">
                and POSITION_CODE=#{positionCode,jdbcType=VARCHAR}
            </if>
            <if test="positionName!=null and positionName!=''">
                and POSITION_NAME=#{positionName,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>
</mapper>