<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.bulletin.mapper.ReadBulletinLogMapper">


    <select id="countByLoginName" resultType="int" parameterType="java.lang.String">
        select count(1)
          from t_read_log rl
         where rl.bulletin_id = #{bulletinId,jdbcType=VARCHAR}
           and rl.login_name = #{loginName,jdbcType=VARCHAR}
    </select>

</mapper>