<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.role.mapper.RoleDataMapper">

    <update id="updateActiveFlagByRoleIds" parameterType="map">
        UPDATE  T_SYS_ROLE_DATA
        SET UPDATE_BY=#{updateBy,jdbcType=VARCHAR},
        UPDATE_DATE=#{updateDate,jdbcType=TIMESTAMP},
        ACTIVE_FLAG=#{activeFlag,jdbcType=INTEGER}
        WHERE
        ROLE_CODE IN (
        SELECT
        ROLE_CODE
        FROM
        T_SYS_ROLE
        WHERE
        id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
        )
        and ACTIVE_FLAG=1
    </update>

    <update id="updateActiveFlagByDeptIds" parameterType="map">
        UPDATE  T_SYS_ROLE_DATA
        SET UPDATE_BY=#{updateBy,jdbcType=VARCHAR},
        UPDATE_DATE=#{updateDate,jdbcType=TIMESTAMP},
        ACTIVE_FLAG=#{activeFlag,jdbcType=INTEGER}
        WHERE
        CTRL_DATA IN (
        SELECT
        D.DEPT_CODE
        FROM
        T_SYS_DEPT D
        WHERE
        D.ID IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
        )
        AND ACTIVE_FLAG=1
    </update>
</mapper>