<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.mapper.SchedulerMapper" >
  <resultMap id="BaseResultMap" type="com.common.model.SystemScheduler" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ACTIVE_FLAG" property="activeFlag" jdbcType="INTEGER" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR" />
    <result column="JOB_CLASS" property="jobClass" jdbcType="VARCHAR" />
    <result column="CRON" property="cron" jdbcType="VARCHAR" />
    <result column="IS_START" property="isStart" jdbcType="CHAR" />
    <result column="JOB_PARAMS" property="jobParams" jdbcType="CHAR" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ACTIVE_FLAG, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, JOB_NAME, JOB_CLASS, 
    CRON, IS_START, JOB_PARAMS, NOTES, IS_START_LOG
  </sql>
  <select id="selectByCondition" resultType="java.util.Map">
    SELECT
    ID AS id,JOB_NAME AS jobName,CASE IS_START WHEN 1 THEN '开启' WHEN 0 THEN '关闭' END AS isStart,
    CREATE_BY AS createBy,
    UPDATE_BY AS updateBy,
    CREATE_DATE AS createDate,
    CRON AS cron,
    UPDATE_DATE AS updateDate
    FROM T_SYS_SCHEDULER
    WHERE 1=1
    <if test="jobName!=null&amp;jobName!=''">
      <bind name="jobName" value="'%' + jobName + '%'" />
      AND JOB_NAME LIKE #{jobName,jdbcType=VARCHAR}
    </if>
  </select>
  <update id="updateStatusByPrimaryKey">
    UPDATE T_SYS_SCHEDULER
    SET IS_START = #{isStart,jdbcType=VARCHAR}
    WHERE ID=#{key,jdbcType=VARCHAR}
  </update>
</mapper>