<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.quarz.mapper.SchedulerMapper">
    <resultMap id="SystemSchedulerResultMap" type="com.base.quarz.model.SystemScheduler">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR"/>
        <result column="JOB_CLASS" property="jobClass" jdbcType="VARCHAR"/>
        <result column="CRON" property="cron" jdbcType="VARCHAR"/>
        <result column="IS_START" property="start" jdbcType="INTEGER"/>
        <result column="JOB_PARAMS" property="jobParams" jdbcType="CHAR"/>
        <result column="NOTES" property="notes" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectByCondition" resultMap="SystemSchedulerResultMap">
        SELECT
        ID ,
        JOB_NAME,
        JOB_CLASS,
        IS_START,
        CREATE_DATE,
        CRON ,
        UPDATE_DATE,
        NOTES
        FROM T_SYS_SCHEDULER S
        <trim prefix="where" prefixOverrides="and">
            <if test="jobName!=null and jobName!=''">
                <bind name="jobName" value="'%' + jobName + '%'"/>
                AND S.JOB_NAME LIKE #{jobName,jdbcType=VARCHAR}
            </if>
            <if test="jobClass!=null and jobClass!=''">
                <bind name="jobClass" value="'%' + jobClass + '%'"/>
                AND S.JOB_CLASS LIKE #{jobClass,jdbcType=VARCHAR}
            </if>
            <if test="start!=null">
                AND S.IS_START LIKE #{start,jdbcType=INTEGER}
            </if>
            AND S.ACTIVE_FLAG=1
        </trim>
    </select>
</mapper>