<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.bulletin.mapper.SystemBulletinMapper">

    <resultMap type="com.base.bulletin.model.SystemBulletin" id="systemBulletinMap">
        <id column="ID" property="id"/>
        <result column="BULLETIN_TITLE" property="bulletinTitle"/>
        <result column="RELEASE_CHANNEL" property="releaseChannel"/>
        <result column="BULLETIN_CONTENT" property="bulletinContent"/>
        <result column="BEGIN_DATE" property="beginDate"/>
        <result column="END_DATE" property="endDate"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
    </resultMap>

        <resultMap id="BulletinReadRecordMap" type="com.base.bulletin.model.BulletinReadRecord" extends="systemBulletinMap">
        </resultMap>

    <sql id="querySql">
        ID,CREATE_BY,CREATE_DATE,UPDATE_BY,UPDATE_DATE,BULLETIN_TITLE,BULLETIN_CONTENT,BEGIN_DATE,END_DATE,RELEASE_CHANNEL
    </sql>

    <select id="queryLimitThree" resultMap="systemBulletinMap">
        SELECT BULLETIN_TITLE, BULLETIN_CONTENT
        FROM (SELECT BU.BULLETIN_TITLE, BU.BULLETIN_CONTENT, ROWNUM AS ROW_ID
        FROM T_SYSTEM_BULLETIN BU
        WHERE BU.ACTIVE_FLAG = 1
        ORDER BY CREATE_DATE DESC)
        WHERE ROW_ID &lt; 4
    </select>

    <select id="selectBulletinAll" resultMap="BulletinReadRecordMap">
        SELECT
           B.ID,B.CREATE_DATE,B.BULLETIN_TITLE,B.BULLETIN_CONTENT
          FROM T_SYSTEM_BULLETIN B
          WHERE B.ACTIVE_FLAG = 1
         ORDER BY B.CREATE_DATE DESC
    </select>


    <select id="selectListBySystemBulletin" parameterType="com.base.bulletin.model.SystemBulletin"
            resultMap="systemBulletinMap">
        select
        <include refid="querySql"/>
        From t_system_bulletin bu
        WHERE
        bu.ACTIVE_FLAG=1
        <if test="beginDate != null">
            and BEGIN_DATE &gt;= #{beginDate,jdbcType=TIMESTAMP}
        </if>

        <if test="endDate != null">
            and END_DATE &lt;= #{endDate,jdbcType=TIMESTAMP}
        </if>

        <if test="bulletinTitle != null and bulletinTitle != '' ">
            and bu.BULLETIN_TITLE like '%${bulletinTitle}%'
        </if>
    </select>

    <select id="selectBulletinByPrimaryKey" parameterType="java.lang.String" resultMap="systemBulletinMap">
        select
        <include refid="querySql"/>
        From t_system_bulletin bu
        WHERE
        bu.ACTIVE_FLAG=1
        <if test="id != null and id !='' ">
            and bu.id = #{id}
        </if>
    </select>

</mapper>