<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.sys.mapper.SystemConfigMapper">

    <resultMap type="com.base.sys.model.SystemConfig" id="SysConfigMap">
        <id column="ID" property="id"/>
        <result column="CONFIG_CODE" property="configCode"/>
        <result column="CONFIG_NAME" property="configName"/>
        <result column="CONFIG_DESC" property="configDesc"/>
        <result column="CONFIG_VALUE" property="configValue"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>      
    </resultMap>
    
    <sql id="querySql">
        ID,CREATE_BY,CREATE_DATE,UPDATE_BY,UPDATE_DATE,CONFIG_CODE,CONFIG_NAME,CONFIG_DESC,CONFIG_VALUE
    </sql>
    
    <select id="selectListBySysConfig" parameterType="com.base.sys.model.SystemConfig" resultMap="SysConfigMap">
        select
        <include refid="querySql"/>
        From T_SYS_config config
        WHERE
        config.ACTIVE_FLAG=1
        <if test="configCode != null and configCode !='' ">
            and config.CONFIG_CODE = #{configCode}
        </if>
        <if test="configName != null and configName != '' ">
            and config.CONFIG_NAME like '%${configName}%'
        </if>
        <if test="configValue != null and configValue != '' ">
            and config.CONFIG_VALUE like '%${configValue}%'
        </if>
    </select>

</mapper>