<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.user.mapper.UserBasicMapper">

    <resultMap id="BaseResultMap" type="com.base.user.model.UserBasic">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CHANNEL_CODE" property="channelCode" jdbcType="VARCHAR"/>
        <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
        <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="SEX" property="sex" jdbcType="VARCHAR"/>
        <result column="TEL" property="tel" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
        <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR"/>
        <result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR"/>
        <result column="SALT" property="salt"/>
    </resultMap>

    <resultMap id="UserBasicVOResultMap" type="com.base.user.model.UserBasicVO">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CHANNEL_CODE" property="channelCode" jdbcType="VARCHAR"/>
        <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
        <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="SEX" property="sex" jdbcType="VARCHAR"/>
        <result column="TEL" property="tel" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
        <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR"/>
        <result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR"/>

        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"/>
        <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR"/>
        <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR"/>
        <result column="SALT" property="salt"/>
    </resultMap>

    <sql id="Base_Column_List">
       ID, CHANNEL_CODE, LOGIN_NAME, REAL_NAME, SEX, TEL, PHONE, EMAIL, PASSWORD,CREATE_DATE, CREATE_BY,SALT,COMPANY_CODE,DEPT_CODE,GROUP_CODE
    </sql>


    <select id="selectByLoginName" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        From T_SYS_USER
        where LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
        AND ACTIVE_FLAG = 1
    </select>

    <select id="selectByID" resultMap="UserBasicVOResultMap" parameterType="string">
         SELECT UB.ID,
                UB.REAL_NAME,
                UB.CHANNEL_CODE,
                UB.LOGIN_NAME,
                UB.SEX,
                UB.TEL,
                UB.PHONE,
                UB.EMAIL,
                UB.COMPANY_CODE,
                UB.DEPT_CODE,
                UB.GROUP_CODE,
                D1.DEP_NAME   AS  COMPANY_NAME,
                D2.DEP_NAME AS DEPT_NAME,
                D3.DEP_NAME   AS  GROUP_NAME
           FROM T_SYS_USER UB
           LEFT JOIN T_SYS_DEPT D1
             ON D1.DEP_CODE = UB.COMPANY_CODE
           LEFT JOIN T_SYS_DEPT D2
             ON D2.DEP_CODE = UB.DEPT_CODE
           LEFT JOIN T_SYS_DEPT D3
             ON D3.DEP_CODE = UB.GROUP_CODE
          WHERE UB.ID = #{id} AND UB.ACTIVE_FLAG = 1
    </select>

    <select id="isExitLoginName" parameterType="java.lang.String" resultType="int">
    SELECT
      COUNT(*)
      FROM T_SYS_USER
     WHERE LOGIN_NAME = #{loginName}
       AND ACTIVE_FLAG = 1
  </select>

    <select id="selectListByUser" parameterType="com.base.user.model.UserBasic" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        From T_SYS_USER
        <trim prefix="where" prefixOverrides="and|or">
            <if test="loginName != null and loginName.length()>0">
                and LOGIN_NAME LIKE '%${loginName}%'
            </if>
            <if test="realName != null and realName.length()>0">
                and REAL_NAME LIKE '%${realName}%'
            </if>
            <if test="phone != null and phone.length()>0">
                and PHONE = #{phone}
            </if>
            and ACTIVE_FLAG = 1
        </trim>
    </select>

    <delete id="deleteByIDs">
        delete from T_SYS_USER
        where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <update id="updateUserByID" parameterType="com.base.user.model.UserBasic">
        UPDATE T_SYS_USER
        <trim prefix="set" prefixOverrides=",">
            <if test="realName!=null and realName!=''">,real_name=#{realName}</if>
            <if test="salt!=null and salt.length()>0">,salt=#{salt}</if>
            <if test="password!=null and password!=''">,password=#{password}</if>
            <if test="activeFlag!=null">,ACTIVE_FLAG=#{activeFlag}</if>
            <if test="channelCode!=null and channelCode!=''">,channel_code=#{channelCode}</if>
            <if test="sex!=null">,sex=#{sex}</if>
            <if test="tel!=null and tel!=''">,tel=#{tel}</if>
            <if test="email!=null and email!=''">,email=#{email}</if>
            <if test="companyCode!=null and companyCode!=''">,COMPANY_CODE=#{companyCode}</if>
            <if test="deptCode!=null and deptCode!=''">,DEPT_CODE=#{deptCode}</if>
            <if test="groupCode!=null and groupCode!=''">,GROUP_CODE=#{groupCode}</if>
            <if test="phone!=null and phone!=''">,PHONE=#{phone,jdbcType=VARCHAR}</if>
        </trim>
        WHERE id=#{id,jdbcType=VARCHAR}
    </update>
</mapper>