<div class="container row" style="width: 100%;">
    <div class="form-unit">系统配置信息</div>
    <form class="form-horizontal" id="cmmg_sysConfig_edit_form">
        <input type="hidden" name="id" th:value="${sysConfig!=null?sysConfig.id:''}"/>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">CONFIG_CODE&nbsp;:</label>
                    <div class="col-md-8">
                        <input th:value="${sysConfig!=null?sysConfig.configCode:''}" type="text" name="configCode"
                               class="form-control" required></div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">CONFIG_NAME&nbsp;:</label>
                    <div class="col-md-8">
                        <input th:value="${sysConfig!=null?sysConfig.configName:''}" type="text" name="configName"
                               class="form-control">
                    </div>
                </div>
            </div>
            
            
           
        </div>
        
        <div class="row">
        	<div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">CONFIG_VALUE&nbsp;:</label>
                    <div class="col-md-8">
                        <input th:value="${sysConfig!=null?sysConfig.configValue:''}" type="text" name="configValue"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4">备注&nbsp;：</label>
                    <div class="col-md-8 col-sm-8">
                        <textarea th:text="${sysConfig!=null?sysConfig.configDesc:''}" name="configDesc"
                                  class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row form-buttons">
        <div class="col-xs-7"></div>
        <div class="col-xs-5">
            <button id="cmmg_sysConfig_edit_btn" type="button" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i>&nbsp;提交
            </button>
            <button onclick="CommonUtils.closeTab('sysConfig_edit')" type="button" class="btn btn-sm btn-danger"><i
                    class="fa fa-close"></i>&nbsp;关闭
            </button>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {

        var $cmmg_sysConfig_edit_form = $("#cmmg_sysConfig_edit_form");
        $cmmg_sysConfig_edit_form.bootstrapValidator({
            fields: {
            	configCode: {
                    validators: {
                        notEmpty: {
                            message: 'CONFIG_CODE不能为空'
                        }
                    }
                },
                configName: {
                    validators: {
                        notEmpty: {
                            message: 'CONFIG_NAME不能为空'
                        }
                    }
                },
                configValue: {
                    validators: {
                        notEmpty: {
                            message: 'CONFIG_VALUE不能为空'
                        }
                    }
                }
        
        		/*, beginDate: {
                    validators: {
                        notEmpty: {
                            message: '任务开始时间不能为空'
                        }
                    }
                }, endDate: {
                    validators: {
                        notEmpty: {
                            message: '任务结束时间不能为空'
                        }
                    }
                }*/
            }
        }).on("success.form.bv", function (e) {
            // Get the form instance
            var params = $(e.target).serialize();
            var reqUrl = CM_Components.getContextAll("/systemConfig/sysConfigEdit");

            $.post(reqUrl, params, function (result) {
                CommonUtils.closeTab('sysConfig_edit');
                CM_Components.refreshTable($("#cmmg_sysConfig_table"));
            }, 'json');
        });

        $("#cmmg_sysConfig_edit_btn").click(function () {
            $cmmg_sysConfig_edit_form.submit();
        });

        $('.search-date').datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            autoclose: true,
            minView: 2
        });
    });
</script>
