<table id="cmmg_system_bulletin_table" data-classes="table table-no-bordered">
    <thead>
    <tr>
        <th data-id-field="id" data-visible="false">id</th>
        <th data-field="bulletinTitle" data-formatter="bulletinTitleFormat">公告标题</th>
        <th data-field="bulletinContent">公告内容</th>
        <th data-field="createDate">发布时间</th>
        <th data-field="readStatus" data-formatter="readStatusFormat">状态</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>

    function bulletinTitleFormat(val, record, index) {
        var ctn = "<a onclick='bulletinDetail(\"{0}\")' title='点击查看详情'>{1}</a>";
        return ctn.format(record.id, val);
    }

    function readStatusFormat(val, record, index) {
//        font-green
        if (val === '已读') {
            var ctn = "<span class='font-green'>{0}</span>";
            return ctn.format(val);
        } else {
            return val;
        }

    }


    function bulletinDetail(id) {
        CommonUtils.addTab(id, "公告详情", CommonUtils.getContextAll("/bulletin/bulletinDetail?bulletinId=" + id));
    }

    $("#cmmg_system_bulletin_table").bootstrapTable({
        method: 'get',
        url: CommonUtils.getContextAll("/bulletin/queryReadList"),
        cache: false,
        dataType: "json",
        pagination: true,
        pageSize: 10,
        pageNumber: 1,
        pageList: [10, 20, 30],
        idField: "id",  //标识哪个字段为id主键
//        cardView: true,   //名片格式
        sidePagination: "server",//表格分页的位置
        queryParamsType: "", //参数格式,发送标准的RESTFul类型的参数请求
        responseHandler: function (res) {
            return {
                "rows": res.dataList,
                "total": res.total
            };
        },
        silent: true,  //刷新事件必须设置
//        formatNoMatches: function () {
//            return '无符合条件的记录';
//        },
        onDblClickRow: function (row, $element) {
//            console.table(row);
            bulletinDetail(row.id);
        }
    });
</script>