<div class="container row" style="width: 100%;">
    <div class="form-unit">系统公告信息</div>
    <form class="form-horizontal" id="cmmg_bulletin_edit_form">
        <input type="hidden" name="id" th:value="${systemBulletin!=null?systemBulletin.id:''}"/>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">公告标题&nbsp;:</label>
                    <div class="col-md-8">
                        <input th:value="${systemBulletin!=null?systemBulletin.bulletinTitle:''}" type="text" name="bulletinTitle"
                               class="form-control" required></div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">公告内容&nbsp;:</label>
                    <div class="col-md-8">
                        <input th:value="${systemBulletin!=null?systemBulletin.bulletinContent:''}" type="text" name="bulletinContent"
                               class="form-control">
                    </div>
                </div>
            </div>
            
            
           
        </div>
        
        <div class="row">
        	<div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">发布渠道&nbsp;:</label>
                    <div class="col-md-8">
                        <input th:value="${systemBulletin!=null?systemBulletin.releaseChannel:''}" type="text" name="releaseChannel"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
        
       <!--  <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4">备注&nbsp;：</label>
                    <div class="col-md-8 col-sm-8">
                        <textarea th:text="${sysConfig!=null?sysConfig.configDesc:''}" name="configDesc"
                                  class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div> -->
    </form>
    <div class="row form-buttons">
        <div class="col-xs-7"></div>
        <div class="col-xs-5">
            <button id="cmmg_bulletin_edit_btn" type="button" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i>&nbsp;提交
            </button>
            <button onclick="CommonUtils.closeTab('bulletin_edit')" type="button" class="btn btn-sm btn-danger"><i
                    class="fa fa-close"></i>&nbsp;关闭
            </button>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {

        var $cmmg_bulletin_edit_form = $("#cmmg_bulletin_edit_form");
        $cmmg_bulletin_edit_form.bootstrapValidator({
            fields: {
            	bulletinTitle: {
                    validators: {
                        notEmpty: {
                            message: '公告标题不能为空'
                        }
                    }
                },
                bulletinContent: {
                    validators: {
                        notEmpty: {
                            message: '公告内容不能为空'
                        }
                    }
                },
                releaseChannel: {
                    validators: {
                        notEmpty: {
                            message: '发布渠道不能为空'
                        }
                    }
                }
            }
        }).on("success.form.bv", function (e) {
            // Get the form instance
            var params = $(e.target).serialize();
            var reqUrl = CM_Components.getContextAll("/bulletin/bulletinEdit");

            $.post(reqUrl, params, function (result) {
                CommonUtils.closeTab('bulletin_edit');
                CM_Components.refreshTable($("#cmmg_bulletin_table"));
            }, 'json');
        });

        $("#cmmg_bulletin_edit_btn").click(function () {
            $cmmg_bulletin_edit_form.submit();
        });

    });
</script>
