<div class="container row" style="width: 100%;">
    <div class="col-md-1 col-xs-2">
        <button id="cmmg_bulletin_add_btn" type="button" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>&nbsp;新增
        </button>
    </div>
    <div class="col-md-1 col-xs-2">
        <button id="cmmg_bulletin_update_btn" type="button" class="btn btn-sm btn-info"><i class="fa fa-edit"></i>&nbsp;修改
        </button>
    </div>

    <div class="col-md-1 col-xs-2">
        <button id="cmmg_bulletin_remove_btn" type="button" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i>&nbsp;删除
        </button>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-body">
        <form class="form-horizontal" id="cmmg_bulletin_search_form">
            <input type="hidden" name="id" th:value="${systemBulletin!=null?systemBulletin.id:''}"/>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">公告标题&nbsp;:</label>
                        <div class="col-md-8">
                            <input type="text" name="bulletinTitle" class="form-control"></div>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">公告内容&nbsp;:</label>
                        <div class="col-md-8">
                            <input type="text" name="taskType" class="form-control">
                        </div>
                    </div>
                </div> -->
                <div class="col-md-6">
                    <div class="col-md-3" style="text-align: right;">
                        <label class="control-label">发布时间&nbsp;:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="input-group date form_datetime search-date">
                            <input class="form-control" name="beginDateText" type="text" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">至</label>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="input-group date form_datetime search-date">
                            <input class="form-control" type="text" name="endDateText" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="actions pull-left">
                        <!-- <a id="cmmg_bulletin_searchBtn" class="btn btn-sm  green btn-outline sbold">
                            <i class="fa fa-search"></i> 搜索 </a> -->
                         <a id="cmmg_bulletin_searchBtn" class="btn btn-sm  green btn-outline sbold">
                            <i class="fa fa-search"></i> 搜索 </a>    
                            
                        <a onclick="CommonUtils.reset('cmmg_bulletin_search_form')"
                           class="btn btn-sm  green btn-outline sbold">
                            <i class="fa fa-print"></i> 重置 </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portlet light portlet-fit">
    <div class="portlet-body">
        <table data-classes="table table-no-bordered" data-form="cmmg_bulletin_search_form"
               id="cmmg_bulletin_table">
            <thead>
            <tr>
                <th data-id-field="id" data-checkbox="true">id</th>
                <th data-field="bulletinTitle">公告标题</th>
                <th data-field="bulletinContent">公告内容</th>
                <!-- <th data-field="realName" data-formatter="taskDate">任务起止时间</th> -->
                <th data-field="createDate">发布时间</th>
                <th data-field="updateDate">修改时间</th>
                <th data-field="updateBy">发布人</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<script>

    jQuery(document).ready(function () {

        var $cmmg_bulletin_table = $("#cmmg_bulletin_table");
        var tabUrl = CM_Components.getContextAll("/bulletin/page/list");

        CM_Components.initBootStrapTable($cmmg_bulletin_table, tabUrl);


        $("#cmmg_bulletin_add_btn").click(function () {
            var tabUrl = CM_Components.getContextAll("/bulletin/bulletinEdit");
            CommonUtils.addTab("bulletin_edit", "新增系统公告", tabUrl);

        });


        $("#cmmg_bulletin_searchBtn").click(function () {
            $cmmg_bulletin_table.bootstrapTable("refresh", {
                query: CM_Components.getFormData("cmmg_bulletin_search_form")
            });
        });


        $("#cmmg_bulletin_update_btn").click(function () {

            var rows = CM_Components.getTableSelections($cmmg_bulletin_table);

            if (!rows || rows.length == 0) {
                CM_Components.layerMsg("请选中一行数据");
                return;
            }
            if (rows.length !== 1) {
                CM_Components.layerMsg("只能选择一条数据");
                return;
            }
            var tabUrl = CM_Components.getContextAll("/bulletin/bulletinEdit?id="+ rows[0].id);
            CommonUtils.addTab("bulletin_edit", "系统公告编辑", tabUrl);
        });


        $("#cmmg_bulletin_remove_btn").click(function () {
            var delUrl = CM_Components.getContextAll("/bulletin/del");
            CM_Components.ajaxDeleteTable(delUrl, $cmmg_bulletin_table);
        });


    });
</script>