<style type="text/css">
    .bms-function-icon{
        width:10%;
        height:35px;
        cursor:pointer;
        list-style:none;
        float: left;
        font-size: 1rem;
        text-align:center;
    }
    .bms-function-icon:hover{
        background-color: #b4dfe6;
    }
    .bms-function-icon-hover{
        background-color: #00a8c6;
    }

    .bms-function-icon i{
        vertical-align: middle;
        text-align: center;
    }
    .content-icons div{
        line-height:32px;
        height: 32px;
        font-size: 16px;
        color: #73879C;
        cursor: pointer;
    }
    .content-icons div:hover{
        /*元素放大*/
        transform: scale(1.08, 1.08);
        background-color: #eceaea;
        border-radius: 5px;
        color:white;
    }
    .content-icons div i{
        color: #495461;
        font-weight: bold;
        padding-right: 8px;
        padding-left: 8px;
    }
</style>
<link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>

<script th:src="@{/assets/global/plugins/respond.min.js}"></script>
<script th:src="@{/assets/global/plugins/excanvas.min.js}"></script>
<script th:src="@{/assets/global/plugins/ie8.fix.min.js}"></script>
<!-- BEGIN CORE PLUGINS -->
<script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/js.cookie.min.js}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script th:src="@{/assets/global/plugins/bootstrapvalidator/js/bootstrapValidator.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/scripts/app.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/scripts/cm-components.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/scripts/common-utils.js}" type="text/javascript"></script>
<input type="hidden" th:value="${functionIconID}" id="function_functionIconID">
<div class="container">
    <div class="row content-icons">
        <div class="col-md-3 col-sm-4 col-xs-12 function-icon" th:each="icon,rowStat:${icons}" ><i th:class="${icon}"></i><span th:text="${icon}"></span></div>
    </div>
</div>
<script th:src="@{/assets/system/function/function.js}" type="text/javascript"></script>
<script type="application/javascript">
    jQuery(document).ready(function() {
        BmsFunction.initFunctionIcons();
    });
</script>
