<div class="portlet-body form">
    <form id="bms-function-edit-form" class="form-horizontal">
        <input type="hidden" name="id" th:value="${fun!=null?fun.id:''}">
        <div class="form-body">
            <div class="form-unit">基本信息</div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">上级菜单</label>
                        <div class="col-md-7 col-sm-7">
                            <div class="input-group" id="bms-parent-function">
                                <input name="parentName" th:value="${fun!=null?fun.parentName:''}" type="text" class="form-control" placeholder="请选择上级菜单">
                                <input name="parentCode" th:value="${fun!=null?fun.parentCode:''}" type="hidden" class="form-control" >
                                <span class="input-group-addon input-group-search"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">菜单类型</label>
                        <div class="radio col-md-2 col-sm-4">
                            <label>
                                <input type="radio" name="type"  value="1" th:checked="${fun!=null?fun.type:''} == 1">
                                菜单
                            </label>
                        </div>
                        <div class="radio col-md-2 col-sm-4">
                            <label>
                                <input type="radio" name="type"  value="0" th:checked="${fun!=null?fun.type:''} == 0">
                                权限
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">菜单名称</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="funName"
                                   th:value="${fun!=null?fun.funName:''}"
                                   placeholder="请输入菜单名称">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">菜单编码</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="funCode"
                                   th:value="${fun!=null?fun.funCode:''}"
                                   placeholder="请输入菜单编码">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">链接</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="url"
                                   th:value="${fun!=null?fun.url:''}"
                                   placeholder="请链接">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">菜单图标</label>
                        <div class="col-md-7 col-sm-7">
                            <label id="function_icon_input" class="control-label form-control form-icon" style="text-align: left;">
                                <i class="icon-anchor" th:attr="class=${fun!=null?fun.icon:''}"></i>
                                <!--th:attr="id='potential_call_btn'+${customerNotNo.customerMobile}"-->
                                <span th:text="${fun!=null?fun.icon:''}"></span>
                                <input name="icon" th:value="${fun!=null?fun.icon:''}" type="hidden" >
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">字体颜色</label>
                        <div class="col-md-7 col-sm-7">
                            <input type="text" class="form-control" name="funColor"
                                   th:value="${fun!=null?fun.funColor:''}">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3">排序</label>
                        <div class="col-md-7 col-sm-7">
                            <input name="treeSort" type="number" class="form-control"
                                   th:value="${fun!=null?fun.treeSort:''}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-unit">其他信息</div>

                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-1 col-sm-1">备注</label>
                        <div class="col-md-8 col-sm-8">
                            <textarea name="description" class="form-control" rows="2"
                                      th:text="${fun!=null?fun.description:''}"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div th:attr="id='bms-role-edit-btn'+${tabId}" class="cm-footer-style">
                <a data-type="submit" data-url="/function/profile" class="btn btn-sm green btn-outline sbold ">&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a data-type="reset" class="btn btn-sm purple btn-outline sbold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;清空&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a data-type="close" class="btn btn-sm red btn-outline sbold">&nbsp;&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
        </footer>
    </form>
</div>
<script th:src="@{/assets/global/scripts/tree-layer.js}" type="text/javascript"></script>
<script th:src="@{/assets/common/button-init.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    jQuery(document).ready(function () {

        var tabId=/*[[${tabId}]]*/
        $("#bms-role-edit-btn"+tabId).formButtonInit({
            "bootstrapTable":"bms-function-table",
            "tabId":tabId,
            "editForm":"bms-function-edit-form"
        });

        $("#bms-parent-function").treeLayer({
            "treeUrl": "/function/tree/list"
        });

        $("#function_icon_input").click(function () {
            layer.open({
                type: 2,
                skin: "cm-custom-layer",
                title: '菜单图标',
                area: ["1200px", "650px"],
                fix: false, //不固定
                shadeClose: false,
                shade: 0.5,
                scrollbar: false,
                content: 'function/icons?functionIconID=function_icon_input',
                btn: ['确定']
            })
        });
    });
</script>