<link th:href="@{/assets/global/plugins/data-grid/css/data-grid.css}" rel="stylesheet" type="text/css"/>

<div class="container" style="width: 100%;">
    <div id="bms-function-btn" class="row">
        <div class="col-md-1 col-xs-2" shiro:hasPermission="function:btn:add">
            <button data-url="/function/profile"  data-type="add"  type="button" class="btn btn-success btn-sm" ><i class="fa fa-plus"></i>&nbsp;新增
            </button>
        </div>
        <div class="col-md-1 col-xs-2">
            <button data-url="/function/profile"  data-type="edit" type="button" class="btn btn-info btn-sm"><i class="fa fa-edit"></i>&nbsp;修改
            </button>
        </div>
        <div class="col-md-1 col-xs-2">
            <button data-url="/function/del" data-type="del"  type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i>&nbsp;删除
            </button>
        </div>
    </div>
    <form class="form-horizontal" id="bms-function-search-form">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label col-md-6">菜单名称&nbsp;:</label>
                    <div class="col-md-6">
                        <input type="text" name="funName" class="form-control"></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label col-md-6">菜单编码&nbsp;:</label>
                    <div class="col-md-6">
                        <input type="text" name="funCode" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div id="bms-function-search-btn" class="col-lg-2 col-md-2 col-sm-6">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <a data-type="search" class="btn btn-circle green btn-outline sbold btn-sm">
                        <i class="fa fa-search"></i> 搜索 </a>
                </div>
                <div  class="col-lg-6 col-md-6 col-sm-6">
                    <a data-type="reset" class="btn btn-circle green btn-outline sbold btn-sm">
                        <i class="fa fa-print"></i> 重置 </a>
                </div>
            </div>
        </div>
    </form>
    <div class="row">

        <script>
            function functionTreeFormatter(val, record, index) {
                var a = "<a data-href='{0}'></a>".format("/bms/function/profile?id=" + record["id"]);
                var v = [];
                v.push("<a  title='编辑菜单' data-href='{0}'>{1}</a>".format("/bms/function/profile?id=" + record["id"]).format(record["funCode"], record["funName"]));
                return v.join("");
            }

            function functionTypeFormatter(val, record, index) {
                if (val == 1) {
                    return "菜单";
                }
                return "权限";
            }
        </script>

        <table id="bms-function-table" data-classes="table table-no-bordered" data-form="bms-function-search-form"
               data-parent-code="funCode">
            <thead>
            <tr>
                <th data-id-field="id" data-checkbox="true">id</th>
                <th data-field="funName" data-width="260" data-tree="true" data-formatter="functionTreeFormatter">菜单名称
                </th>
                <th data-field="funCode">编码</th>
                <th data-field="type" data-formatter="functionTypeFormatter">类型</th>
                <th data-field="url">连接</th>
                <th data-field="treeSort">排序</th>
                <th data-field="remarks">备注信息</th>
                <th data-field="createDate">创建时间</th>
                <th data-field="updateDate">更新时间</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/assets/common/button-init.js}" type="text/javascript"></script>
<script>
    jQuery(document).ready(function () {
        // 头部按钮
        $("#bms-function-btn").buttonInit({
            "tabTitle":"编辑菜单",
            "bootstrapTable":"bms-function-table"
        });

        // 查询form表单按钮
        $("#bms-function-search-btn").formButtonInit({
            "searchForm":"bms-function-search-form",
            "searchUrl":"/function/query",
            "bootstrapTable":"bms-function-table",
            "bootstrapTableInit":true
        });
    });
</script>